[2018-06-19 18:48] lolimjake opened #1 "Push to a public image repo"
We need to configure a public image repo to host our public kuberhealthy image.

[2018-06-19 18:49] lolimjake opened #2 "Create getting started guide"
The existing guide assumes too many things and is too short. We need a good getting started doc in the docs directory.

[2018-06-19 18:50] lolimjake opened #3 "Create example grafana dashboard based on prometheus metrics"
Include the JSON for the dashboard in this issue. Depends on #4

[2018-06-19 18:51] lolimjake opened #4 "Create prometheus integration"
Lets create a metrics endpoint and serve up some prometheus endpoints for easy integration.

    * create a metrics endpoint that exposes prometheus endpoints
    * Include a prometheus annotation on the deployment yaml
    * include the prometheus metrics endpoint on the service and pod port spec
    * create some base line recommended prometheus alert definitions

[2018-06-19 18:54] lolimjake opened #5 "Allow check intervals to be configured by the user"
Check intervals are currently hard coded, we should change to user controlled check intervals.

[2018-06-19 18:57] lolimjake opened #6 "Implement test baseline"
For first pass we should shoot for full unit test coverage.

[2018-06-19 19:02] lolimjake opened #7 "Improve shutdown grace period handling"
Kuberhealthy shutdown grace period should be calculated from the running spec instead of being statically configured.

[2018-06-19 19:04] lolimjake opened #8 "Package lists left after updates"
The production container should purge package lists after updating and installing in the dockerfile. This must all happen in one step or else space will still be lost as diffs are between layers.

[2018-06-19 19:05] lolimjake opened #9 "Implement a persistent volume checker"
We need a way to confirm that PVCs and PVs can be requested and attached to every node in a cluster. We probably want to leverage the DaemonSet checker for this and have this be a configurable option.

[2018-06-19 19:06] lolimjake opened #10 "Create and publish a helm chart"
Create and publish a helm chart for kuberhealthy

[2018-06-19 19:16] lolimjake opened #11 "Implement service checker"
We should implement a check that verifies services can be created and exposed.

[2018-06-19 19:31] lolimjake opened #12 "Set up build pipeline"
Configure build pipeline - probably travis CI

[2018-06-21 17:45] lolimjake opened #13 "Include recent pod events in error messages for podStatus"
If a pod is not in a Ready state, there are usually events associated with that error state.  Ex: cannot create storage object, no schedulable  nodes, etc.  This could be important information to pass through to the status page.

[2018-06-21 22:30] kristakhare opened #15 "Update copyright headers"
Please update all headers to show the following copyright statement:
Copyright 2018 Comcast Cable Communications Management, LLC

Thank you!

[2018-06-21 22:31] integrii opened #16 "Check all kube-dns pods functionality"
**Describe the solution you would like to see happen**
Sometimes specific kube-dns pods are not returning appropriate responses.  We could check them directly with DNS queries.

**How do you propose we build it?**
Make a new check.  Check lists kube-dns pods in kube-system.  DNS tests are executed on each for various internal service names.

[2018-06-25 17:41] #15 closed, assigned to integrii, lolimjake

[2018-06-25 18:40] #1 closed, assigned to integrii

[2018-06-25 21:42] integrii opened #22 "We need a logo"
And it should be on the top of the `README.md`!

Check out [logojoy.com](http://logojoy.com)

[2018-06-27 04:38] #22 closed, assigned to integrii

[2018-06-29 22:21] #4 closed, assigned to ihoegen

[2018-07-03 18:25] integrii opened #24 "Move all go packages into a pkg directory"
**Describe the solution you would like to see happen**
I would like to move the packages in the root of the source control into a directory named `pkg`.  This would make it obvious which folder was a go package and which are other things like a helm chart or documentation.

**How do you propose we build it?**
`checks` ➡️`pkg/checks`
`health` ➡️`pkg/health`
`kubeClient` ➡️`pkg/kubeClient`
`masterCa

[2018-07-05 19:12] integrii opened #26 "Publish a helm chart"
As of right now, the helm chart has no icon because we do not have an approved and trade-markable icon to use.  When we do, we should add one.

Relevant to original issue #25

[2018-07-12 16:48] #2 closed, assigned to integrii, lolimjake, ihoegen

[2018-07-12 16:51] integrii opened #27 "Add install instructions to top of readme"
We should put the helm install command at the top of the readme... In a better world we could even go as far as putting in a non-helm spec option as well...

[2018-07-12 16:52] #10 closed, assigned to integrii, ihoegen

[2018-07-12 19:10] #27 closed, assigned to integrii

[2018-07-12 22:01] integrii opened #34 "Setup TravisCI"
Setup TravisCI so that master builds and pushes to the `:unstable` tag on quay.

[2018-07-12 22:04] integrii opened #35 "Tag and release 0.1.1"
We need `0.1.1` released.  This means we update the helm chart version and image URL, update the helm chart archive with `helm package`, then update the `README.md` to point to the new helm package download URL.

[2018-07-12 22:21] #35 closed, assigned to integrii, lolimjake

[2018-07-13 18:07] #3 closed, assigned to ihoegen

[2018-07-13 18:09] integrii opened #38 "Mention/add prometheus dashboard in README or other documentation"
We should mention this sweet new dashboard we have for grafana and prometheus somewhere in the docs.

[2018-07-13 21:27] #24 closed, assigned to integrii

[2018-07-13 21:33] integrii opened #40 "Implement project vendoring"
We should have vendoring so that our builds are predictable.

We should strongly consider `vgo`.  If we have to do this before `vgo` is ready, I think the next best thing is `dep`.  I have seen problems with `dep` against Kubernetes packages in the past, though.

[2018-07-19 14:25] mshutt opened #43 "Implement more fine grained tagging in prometheus metrics"
**Describe the feature you would like and why you want it**

Add additional tags to prometheus check value metrics:

https://github.com/Comcast/kuberhealthy/blob/6dab3697e6626f1e76f3e3a2f3e4941524046f80/pkg/metrics/exporter.go#L40

e.g. check=$checkname,namespace=$namespace for additional grainularity.

**Additional context**

We're feeding these into DataDog such as:  https://photos.app.goo.gl/4o

[2018-07-19 15:16] integrii commented on #43
@ihoegen did the Prometheus integration. He is off in Mexico on a honeymoon right now though...  I assigned him to this one.

[2018-07-19 17:10] ihoegen commented on #43
The replace is there because for a little bit the name of the metric was the name of the check, and spaces made things tricky. Now it's just leftover code I could remove. I'll update it to parse that when I get back on Monday

[2018-07-19 18:51] mshutt commented on #43
Right, but we don't want to remove the fidelity were getting there since
the podstatuscheck can execute for N namespaces same as the podhealthcheck

Right?  Just create a tuple of tags {check=type,namespace=namespace}

On Thu, Jul 19, 2018 at 1:10 PM, Ian Hoegen <notifications@github.com>
wrote:

[2018-07-19 22:19] ihoegen commented on #43
Yeah that makes sense. I'll remove the parsing of the spaces, and use the namespace field from the check object to populate that tuple

[2018-07-20 17:07] mshutt opened #44 "namespace list regexp?"
What would you all think about doing a regexp for namespace matching?  In a world where we have 100's of namespaces, I'd love to be able to throw a checker on each (if it can scale) for massively failing pods.  Obviously, this would be a query into the API to match namespaces that will be submitted as a check.

[2018-07-21 00:51] integrii commented on #44
I think this is a good idea... but how would we configure it?  By a flag?  Environment variable? Hrmm...

Maybe we could detect if there is a `*` and then change to prefix matching...

[2018-07-21 01:02] mshutt commented on #44
I was thinking it could just be in the comma separated list of args, but we
would have to be cautious of regexps with commas ;)  or maybe we have anew
arg for a regexp match? It also means instantiating the api client in the
main thread before we create the checkers.

On Fri, Jul 20, 2018, 8:51 PM Eric Greer <notifications@github.com> wrote:

[2018-07-23 15:59] integrii opened #45 "CRD concurrent map access"
**Describe the bug**
It seems like CRDs trigger some underlying concurrent map access problem within the kubernetes api.

**Versions**
 - Kubernetes Version: 1.9.7
 - Kuberhealthy Release or build [e.g. 0.1.5 or 235]

Stack:
[code]

[2018-07-23 16:05] integrii commented on #45
Looks like getting the CRD concurrently explodes the rest client in Kubernetes?  This could be because we are re-using the client concurrently... Whenever anyone hits the status page, we access the client, which uses the same underlying rest client, which sometimes explodes.

We should probably either create a new Kubernetes client for each request, or mutex the existing one (ew, slow performance)

[2018-07-23 16:20] mshutt commented on #45
I got the same one:

[code]

[2018-07-23 16:51] mshutt commented on #45
Is the issue that something is writing while reading?

This kinda thing worries me because so much about k8s assumes that api updates are atomic... such as like leader leases on kube-master-controllers and service-catalogs...

[2018-07-23 20:43] ihoegen opened #46 "Index out of range"
**Describe the bug**
Kuberhealthy panicked and died because of the an index out of range in master calculation. Looks like PodList is empty.

**Expected behavior**
Kuberhealthy to not panic

**Versions**
 - Kubernetes Version: 1.9.6

**Additional context**
Logs:

[code]

[2018-07-27 17:56] ihoegen opened #50 "Include Namespace as Part of Check Details"
**Describe the solution you would like to see happen**

 This proposal is to include the check's namespace as part of the CheckDetails, which in turn goes into the State.

The main benefit to including the namespace as part of the CheckDetails is that it allows for more fine-grained metrics.

 By having the namespace as part of CheckDetails, it is possible to include namespace as a label in the pr

[2018-07-31 17:05] integrii opened #53 "Mitigate issues shown on Go report card"
PR #52 added go report card to the readme, but we have an A and not an A+.  Looks easy to fix!

https://goreportcard.com/report/github.com/Comcast/kuberhealthy#golint

[2018-07-31 20:56] mshutt opened #54 "DS GC not working after a crash/panic"
**Describe the bug**

We had another CRD concurrent read/write issue that popped up in our test environment.  As a result, the daemonset and the resultant pods that daemonset created were kept ad infinitum.  Furthermore, because the new kuberhealthy pod was restarted and had the same name, I believe that the "orphan" detection was unable to determine that this was an orphaned daemonset.  While thi

[2018-08-01 15:04] mshutt commented on #45
@integrii Any more thought on this?  Perhaps some type of semaphore/mutex?  I know, I'm speaking in C terms with shmget/semget :)  But the principal remains.  I'll have to look at how we do the exporter for the prometheus and JSON based outputs... but that can't stop someone from using the cli to DoS the app.  The other issue I opened https://github.com/Comcast/kuberhealthy/issues/54 seems to be d

[2018-08-01 17:16] mshutt commented on #45
@integrii Do configMaps have the same issues?  Or is this just CRDs?  Could not a configMap be used in a similar way?

[2018-08-01 19:49] integrii commented on #54
Thanks for all the attachments here and investigation.  This looks just like #45 manifesting its self in various other places.

I think all of this stems from re-using Kubernetes clients.  It looks like the Kubernetes clientset isn't safe for concurrent access.

We just need to make new clients for each web request we respond to.  That would be a good first step.

[2018-08-01 20:07] integrii commented on #45
I think the issue here is just to ensure that a new client is created in enough places that concurrent use is impossible.  The same client is used in all requests for metrics, or the status JSON.  There are things, especially with CRDs, that are not safe for concurrent use.  This causes these kinds of crashes.

I will take a wack at code that should fix this soon.

[2018-08-09 18:29] integrii commented on #45
This may be fixed in the unstable branch.  Give it a try?  Use the image URL `quay.io/comcast/kuberhealthy:unstable`

[2018-08-09 18:31] integrii commented on #12
Done with status badge in #55

[2018-08-09 18:31] #12 closed

[2018-08-09 18:32] integrii commented on #34
Moved to quay.  Won't do this!

[2018-08-09 18:32] #34 closed

[2018-08-09 18:35] integrii commented on #50
I think this is okay.  It looks like it is required for #44.  This mean making one CRD object for each namespace that each check runs, I think.

[2018-08-09 18:37] integrii commented on #13
I think this is useful information to have displayed.  I agree that we would have to append these messages into the details for that check.  It could get messy and hard to read if there are various pods all with different long failure messages.

However, we may want to consider requiring the user to investigate because determining what is useful to the admin could be hard.  If you just fetch event

[2018-08-09 18:38] integrii commented on #40
`vgo` has improved since launch.  Go modules are officially supported and vgo is available as a `go get` now.

[2018-08-15 17:18] mshutt commented on #54
Still going with the latest `unstable` you provided :( . Same error, crd concurrent read/write.

[code]
[root@maas-cc38-r1009 ~]# oc get po
NAME                                                            READY     STATUS    RESTARTS   AGE
daemonset-test-kuberhealthy-55f7ff859d-4c9bw-1534339658-57pb8   1/1       Running   0          2h
daemonset-test-kuberhealthy-55f7ff859d-4c9bw-1534339658-6kqn7

[2018-09-13 16:29] integrii opened #57 "Daemonset checker detects pods that don't clean up after the daemonset is deleted"
Kuberhealthy routinely makes a daemonset, then, once all the pods in the daemonset are in the 'Ready' state, Kuberhealthy deletes the daemonset and waits for all the pods to clean up.

It should be impossible for the daemonset to be deleted, but its pods to stay behind.  However, this is exactly what occurs.  The daemonset finishes removal but several daemonset checker pods are remaining.

**Steps

[2018-09-13 16:31] integrii commented on #57
We should probably do the following:

- make sure that the api call to delete pods is not missing an option which would cause the daemonset checker to leave pods around
- ensure that the `shutdownGracePeriod` on the daemonset test pods is set extremely low
- file a bug with Kubernetes for a race condition in daemonset deletion

[2018-09-13 17:37] lolimjake commented on #57
I took a look:

- There is no applicable option that would cause pods to be left (though you can intentionally tell it to orphan pods which we obviously dont want)
- shutdownGracePeriod is 1s (https://github.com/Comcast/kuberhealthy/blob/e6fab00968adefde1a58dd608b6d8acc905a49a2/pkg/checks/daemonSet/daemonSet.go#L46)

We think there is a race condition around creating a daemon set and immediately d

[2018-09-14 18:06] lolimjake commented on #57
I believe this line may be the cause of the race condition: https://github.com/Comcast/kuberhealthy/blob/e6fab00968adefde1a58dd608b6d8acc905a49a2/pkg/checks/daemonSet/daemonSet.go#L594

There is no spec.minReadySeconds defined in the DS spec, and once a DS is identified as healthy we immediately try to delete the pods that may have have only _just_ been created.  Additionally, this may be a real i

[2018-09-18 22:26] lolimjake opened #63 "Tolerate node tanits for daemon set scheduling"
The daemon set checker should tolerate node taints and deploy to every node in the cluster, regardless.  We should also consider an optional flag to modify this behavior.

[2018-09-26 22:16] integrii commented on #63
flag punted to a later feature request

[2018-09-26 22:16] #63 closed

[2018-09-26 22:17] integrii commented on #50
@ihoegen you added this in your prior change that was merged, correct?

[2018-09-26 22:17] integrii commented on #40
Implemented go modules in pull #66

[2018-09-26 22:28] ihoegen commented on #50
Yep

From: Eric Greer <notifications@github.com>
Reply-To: Comcast/kuberhealthy <reply@reply.github.com>
Date: Wednesday, September 26, 2018 at 3:17 PM
To: Comcast/kuberhealthy <kuberhealthy@noreply.github.com>
Cc: Ian Hoegen <ianhoegen@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [Comcast/kuberhealthy] Include Namespace as Part of Check Details (#50)

@ihoegen you added this in y

[2018-09-28 07:19] #50 closed

[2018-10-03 21:40] integrii commented on #9
Today we had an issue in production where a node ceased to be able to provision more volumes.  This could have detected the issue.

[2018-10-15 21:45] integrii opened #67 "Improve Daemonset Checking with DNS lookups and API calls"
Deploying a pod to each node is a good start, but it would be nice if that pod also validated that it could communicate with the Kubernetes API and resolve DNS.  It is possible for nodes to be online but with corrupted routing tables or kube-proxy configs.  Better synthetic checks should reveal issues like this.

Let's create and publish a new container with an automated build pipeline.  The conta

[2018-10-16 04:18] integrii opened #68 "Add hard pod anti-affinity to specs"
We should avoid having multiple Kuberhealthy instances on a single node.  This makes the system prone to failure when a single node is lost.  Pod anti-affinity should take care of this.

[2018-10-17 02:56] integrii opened #69 "Create a website"
We should have a public website with a logo and graphics.  We can use github pages.

[2018-10-18 17:29] integrii commented on #67
I think this is a duplicate of #16

[2018-10-18 17:29] #67 closed

[2018-10-18 19:45] integrii commented on #69
https://comcast.github.io/kuberhealthy/

[2018-10-18 19:45] #69 closed

[2018-10-19 04:13] integrii commented on #26
We now have a log from #22.  We should contribute the chart to helm so users can easily `helm install` it.  Update the recommended installation instructions once the PR is accepted.

https://github.com/helm/charts/blob/master/CONTRIBUTING.md

[2018-10-22 16:42] integrii commented on #54
Closing because its a dupe of #45

[2018-10-22 16:42] #54 closed

[2018-10-22 16:47] integrii commented on #45
After testing this over the weekend, I have been unable to reproduce the error, even when hitting the prometheus endpoint page rapidly and hsing six prometheus servers.

![image](https://user-images.githubusercontent.com/98695/47305811-7f011200-d5df-11e8-9206-20403c13ebe4.png)

After talking to @mshutt we are thinking the issue is somehow related to Openshift...

[2018-10-22 16:47] #45 closed

[2018-10-26 16:36] integrii opened #74 "Daemonsets are leaving pods around, which causes false alarms for daemonset checker"
The daemonset checker is sometimes able to delete the daemonset, and pods from the daemonset remain forever.  This looks like a race inherent in Kubernetes where daemonset pods are not always cleaned up when a daemonset is deleted.

To reproduce, run the daemonset checker for a long time.  Every so often it will alert on pods not being removed.  Checking the daemonset reveals it has already been d

[2018-10-26 21:36] integrii commented on #74
Deployed fix to `unstable` branch and running in our test environments now.

[2018-10-29 17:34] integrii commented on #74
Issue confirmed fixed over the weekend!

[2018-10-29 17:34] #74 closed

[2018-11-15 23:15] integrii opened #80 "Pod restart is throwing false alarms"
It appears that the pod restart checker is triggering on pods that have not restarted five times in the last hour.  This only happens once the pods _have_ actually restarted five times previously.  Likely the counter is not being purged correctly.

![image](https://user-images.githubusercontent.com/98695/48587752-3b04e280-e8e9-11e8-98c8-3783ec274114.png)
![image](https://user-images.githubusercont

[2018-11-19 22:41] integrii commented on #26
Looks like builds for helm are working again. There are a few issues to fix there with CircleCI:
https://circleci.com/gh/helm/charts/38980?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-12-05 22:46] lolimjake commented on #80
The pod in the example was is part of a stateful set and had been restarted within the past hour (the timeframe the PRC looks for restarts over).  I believe the previous iteration of this pod WAS restarted more than 5 times in the last hour, but the pod was also terminated completely, wiping the restart count back to 0 when you check after the fact.

I just tested and terminating a pod with a rest

[2018-12-05 23:12] lolimjake commented on #80
The bug lies here: https://github.com/Comcast/kuberhealthy/blob/8f25870ae211caa721c6cd6ee2626a08882f2f88/pkg/checks/podRestarts/podRestarts.go#L207 .

We are collecting metrics based on pod names - since stateful set pods come back with the same name, kuberhealthy treats the terminated and newly created stateful set pod as the same pod.  In the linked line, Kuberhealthy is only measuring the delta

[2018-12-09 02:17] integrii commented on #26
I am bumping the people assigned to review on slack via the #helm-users channel on the Kubernetes slack.  The charts look good to go and are only pending manual review...

[2018-12-13 04:11] integrii commented on #26
I was able to get someone's ear today at Kubecon.  I started a new branch to remove an image that was committed by accident: https://github.com/helm/charts/pull/9955

[2018-12-20 08:24] integrii opened #82 "Unable to fetch pods for master calculation when not in kuberhealthy namespace"
We're using a `const` instead of the environment variable `MY_POD_NAMESPACE`

- Change `MY_POD_NAMESPACE` to `NAMESPACE` and `MY_POD_NAME` to `POD_NAME`.

[2018-12-20 09:03] integrii commented on #82
helm chart has already been patched: https://github.com/helm/charts/pull/10158

[2018-12-20 18:06] #82 closed

[2018-12-20 18:09] lolimjake commented on #26
Chart has passed all tests and is ready for someone from helm to merge it in https://github.com/helm/charts/pull/10158

[2018-12-20 18:10] #26 closed

[2018-12-20 18:15] integrii commented on #40
This will be handled with go modules soon. Currently modules have a bug that won't let you go get for kuberhealthy.

[2018-12-20 18:32] integrii opened #84 "Update installation instructions"
With the stake helm chart being published, we should update the installation instructions to use it.

[2019-01-03 18:02] ihoegen commented on #16
Ran into an issue on a cluster where kube-dns wasn't resolving, which would've been caught if we had this. Going to work on implementing

[2019-01-03 18:03] ihoegen commented on #43
#56 addresses this

[2019-01-03 18:03] #43 closed

[2019-01-11 19:12] lolimjake commented on #80
https://github.com/Comcast/kuberhealthy/pull/89
https://github.com/Comcast/kuberhealthy/pull/90
https://github.com/Comcast/kuberhealthy/pull/92

Fixed this, wrote a proper test and It's been merged into unstable

[2019-01-25 18:00] #80 closed

[2019-01-25 18:17] integrii opened #93 "v1.0.0 Release Checklist"
- [X] Update install instructions in issue #84
- [X] Merge unstable into master
- [X] Add a `v1.0.0` tag to quay.io
- [X] Update helm chart to new release image
- [X] Merge master into the gh-pages branch to update the readme
- [X] Tag a v1.0.0 release on github

[2019-02-11 20:55] integrii commented on #84
Just did this.

[2019-02-11 20:55] #84 closed

[2019-02-12 00:15] integrii commented on #93
`quay.io/comcast/kuberhealthy:v1.0.0`

[2019-02-12 00:20] integrii commented on #93
Builds are currently broken due to upstream changes. Before we can tag, we should do #40

[2019-02-12 00:21] integrii commented on #40
Go 1.12-rc1 dropped today.  We should ensure that our solution (modules) works with it.

[2019-02-12 00:46] integrii commented on #93
https://github.com/helm/charts/pull/11341

[2019-02-12 07:15] omerlh opened #98 "Failed to install using helm"
**Describe the bug**
I tried to install using the following helm command:
[code]
Installation failed with the following error:
[code]
**Steps To Reproduce**
Try to install with helm
**Expected behavior**
Kubehealthy installed currently

**Versions**
 - Cluster OS: Mac OS (docker for desktop Version 2.0.0.2 (30215))
 - Kubernetes Version:
[code]
- Helm version:
[code]
 - Kuberhealthy Release or bui

[2019-02-12 08:17] ihoegen commented on #98
You'll need the prometheus operator installed on your cluster to use that feature. I'll create a work item to differentiate between the two

[2019-02-12 08:50] ihoegen commented on #98
Looks like if you run with
[code]

[2019-02-12 11:24] omerlh commented on #98
Cool, that did the trick, thanks!

[2019-02-12 17:51] integrii opened #102 "Become certified with LF CII"
https://bestpractices.coreinfrastructure.org/en

[2019-02-12 17:58] integrii commented on #16
Thanks Ian!

[2019-02-12 17:58] #16 closed

[2019-02-12 18:01] #38 closed

[2019-02-12 18:05] integrii commented on #98
Both of Ian's PR's are merged.  Closing!

[2019-02-12 18:05] #98 closed

[2019-02-12 18:19] integrii opened #103 "nevalau on Reddit has RBAC issue"
![image](https://user-images.githubusercontent.com/98695/52658312-9413f080-2eaf-11e9-827f-9fa3adfef6bc.png)

`2019-02-12T09:00:06.663145281Z time="2019-02-12T09:00:06Z" level=warning msg="DaemonSetCheckerError determining which node was unschedulable. Retrying.nodes is forbidden: User \"system:serviceaccount:kuberhealthy:kuberhealthy\" cannot list resource \"nodes\" in API group \"\" at the cluste

[2019-02-12 23:05] tommy-dk commented on #103
I am seeing the same error on an Azure AKS cluster.

[2019-02-13 09:14] nevalla commented on #103
I left the original comment on reddit. I'm using [Kontena Pharos](https://github.com/kontena/pharos-cluster) to provision the cluster with RBAC enabled.

The issue might be that Helm chart will create a cluster role, but it allows only to list `pods`, `namespaces`, and `componentstatuses`. So service account doesn't have rights to list nodes. https://github.com/helm/charts/blob/master/stable/kuber

[2019-02-13 13:06] johscheuer opened #108 "Missing env variable: MY_POD_NAME"
**Describe the bug**
A clear and concise description of what the bug is.

I used https://github.com/Comcast/kuberhealthy/blob/master/deploy/kuberhealthy.yaml to deploy  kuberhealthy in my Kubernetes cluster. The pod always complain with the following error:

[code]

**Steps To Reproduce**
- `kubectl apply -f https://github.com/Comcast/kuberhealthy/blob/master/deploy/kuberhealthy.yaml`

**Expected

[2019-02-13 17:59] integrii commented on #108
Thanks for taking the time to make an issue on this.  Looks like once we started focusing on the [helm chart](https://github.com/helm/charts/tree/master/stable/kuberhealthy), we stopped keeping that deploy yaml up to date.  I will bring that into sync so this won't be an issue, then you should be able to try again.  Sorry!  Fixing right now...

[2019-02-13 18:18] integrii commented on #103
Ah, we haven't run this on Kubernetes 1.13 yet... Looks like listing nodes requires additional RBAC permissions.

@nevalla if you edit `clusterrole.yaml` and add `- nodes` to the `resoruces` list, does it fix the issue?

[2019-02-14 08:11] tommy-dk commented on #103
This fixed the issue for me on AKS v 1.12.

[2019-02-14 10:47] nevalla commented on #103
Yes I can confirm too:

<img width="1486" alt="screenshot 2019-02-14 at 12 40 04" src="https://user-images.githubusercontent.com/455844/52781670-ccedca00-3055-11e9-88dd-4c31f0690fa6.png">

I think this is related more to RBAC in general, not to Kubernetes version.

[2019-02-15 00:12] integrii commented on #108
Closing for now. Let us know if you have other issues.

[2019-02-15 00:12] #108 closed

[2019-02-17 08:03] integrii commented on #40
Leaving myself a note...  This should fix the module requirements:

[code]

[2019-02-17 08:04] integrii commented on #103
Glad to hear this works!  I suppose Kuberhealthy has now been tested on 1.13 :-)

Before we close this issue, we need to edit the helm chart to add this additional permission.

[2019-02-17 08:09] integrii opened #111 "Create helm chart for Kuberhealthy 2"
The current helm chart enables all checks.  It is possible to pass in flags that disable checks.  For example, if you only wanted the daemonset checker to run, you could pass in helm chart flags that disable the other checks.

This issue has a few items to complete:

- [ ] add input flags to helm chart (in github.com/helm/charts/stable/kuberhealthy)
- [ ] document new helm chart flags on the helm

[2019-02-17 08:12] integrii opened #112 "Document clustering methodology"
Kuberhealthy uses a pretty sweet clustering system that does not require a database.  CRDs are used along with the position of which pod comes up first in the pod listing (its always alphabetical).  A quick readme file that describes this would be useful for contributors and others looking for an easy method of clustering things.

[2019-02-18 17:40] integrii opened #113 "Add slack channel to documentation"
We should add #kuberhealthy from the Kubernetes slack to the readme.  Perhaps a badge that you can click to join?

[2019-02-19 17:49] davidkarlsen commented on #103
I have a PR ready with a fix for this + a fix for security context:
https://github.com/davidkarlsen/charts/tree/khealthcontext

[2019-02-19 18:16] davidkarlsen opened #114 "panic: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
POD fails with:
[code]

**Steps To Reproduce**
- install with the helm chart

**Expected behavior**
Should run without failure with default settings.

**Screenshots**
N/A

**Versions**
 - Cluster OS: RHEL 7.6
 - Kubernetes Version: v1.12.4+icp-ee
 - Kuberhealthy: 1.0.0

**Additional context**
Add any other context about the problem here.

[2019-02-19 19:31] integrii commented on #114
Thanks for reporting this!

[2019-02-19 19:32] integrii commented on #103
Thanks to both of you!  Closing this out now.

[2019-02-20 13:58] davidkarlsen commented on #113
Seems like invites is currently unavailable: http://slack.k8s.io/

[2019-02-21 06:03] integrii commented on #113
Whoa. I feel like I read that this happened weeks ago. Maybe the kubernetes slack is locked down now?

[2019-02-21 06:10] integrii commented on #103
I just remembered that this needs added to the deployment.yml file in this repo.  Leaving myself a reminder here to do this...

[2019-02-21 09:13] tommy-dk opened #115 "Add podAnnotations section to helm chart"
If a podAnnotations section is added to the helm chart, it is possible to add annotations to kuberhealthy which can be used for setting up external prometheus scrapers (eg datadog).

Eg:
[code]

[2019-02-21 17:23] integrii commented on #115
Hey @tommy-dk.  It would be nice to have a configurable pod annotations in the helm chart.

Until then, I would recommend that you deploy the yaml in the `deploy/` directory of this repository.  After that, you can manually add annotations with `kubectl edit deployment kuberhealthy -n kuberhealthy`.

I am leaving this issue open as ready for work.  Thanks!

[2019-02-21 17:25] integrii commented on #5
We may want to add and use a configmap.  I feel like the number of tweakable options is going to increase steadily over time.

[2019-02-21 17:26] integrii commented on #44
This kind of feature may fit nicely into a configmap as mentioned in #5

[2019-02-21 17:33] #103 closed

[2019-02-21 22:42] Brialius opened #118 "Build is broken due to update of k8s.io/apimachinery/pkg/apis/meta/v1.ListOptions"
**Describe the bug**
Build failing with following errors
[code]

**Steps To Reproduce**
[code]

**Additional context**
Revision of Comcast/kuberhealthy `67fd71113deb20625f97772ccdbe6fb555d85886`
[Remove use of alpha initializers](https://github.com/kubernetes/kubernetes/pull/72972)

[2019-02-22 00:03] integrii commented on #118
Thanks for your contribution today to help with go report card!

I am on this one in issue #40.  I need to modify the modules to use a different version of kube-client.  I plan to fix this within a few days...

[2019-02-22 00:48] #53 closed

[2019-02-22 11:44] davidkarlsen commented on #114
Is there any possible workaround?

[2019-02-22 13:24] logicfox opened #119 "[Helm] Prometheus scrape annotations on Service"
**Describe the bug**
When Prometheus scraping is enabled from the values, the Prometheus scrape annotations are applied on the service. This would mean that the metrics are scraped from only one pod at any given time, and the request round-robins every time the <service>/metrics endpoint is scraped.

**Steps To Reproduce**
Enable prometheus and scrape the endpoint

**Expected behavior**
Every pod

[2019-02-22 13:34] logicfox commented on #115
Addressed by https://github.com/helm/charts/pull/11651

[2019-02-22 16:53] lolimjake commented on #114
I'm going to investigate this today/this weekend and fix it/let you know.

[2019-02-22 18:15] Brialius commented on #68
@integrii hi, is this request for helm chart?

[2019-02-22 20:26] integrii commented on #68
Yeah, and the `deploy/kuberhealthy.yaml` file, which should have the same functionality, but for people who don't want to use helm.

[2019-02-22 20:59] lolimjake commented on #114
Is your kuberhealthy creating any daemon set pods at all, it doesn't appear to be from the logs.  A successful deploy looks like this:

`time="2019-02-22T20:48:58Z" level=info msg="Searching for unique taints on the cluster."
time="2019-02-22T20:48:58Z" level=info msg="Found taints to tolerate: [{dedicated  dfh NoSchedule <nil>} {node-role.kubernetes.io/master   NoSchedule <nil>}]"
time="2019-02-2

[2019-02-22 21:35] #40 closed

[2019-02-22 21:35] integrii commented on #118
Builds online!

[2019-02-22 21:35] #118 closed

[2019-02-22 21:48] integrii commented on #93
https://github.com/Comcast/kuberhealthy/releases/tag/v1.0.0

[2019-02-22 21:48] #93 closed

[2019-02-22 21:49] integrii commented on #115
Thanks @logicfox !

@ihoegen is probably the best person to validate your fix here.  I am assigning him on this issue (i see you already assigned him on the helm chart).

[2019-02-22 21:57] davidkarlsen commented on #114
It creates two, but the "primary" one goes into a crashloop:
[code]

[2019-02-22 22:03] lolimjake commented on #114
That's one of the kuberhealthy master/slave pods.  Kuberhealthy will create a short lived daemon set which it appears to be failing to do. I suspect the failure to create the DS has to do with differences between standard Kube and OpenShift, though I'm still investigating and want to confirm that.

[2019-02-22 22:57] davidkarlsen commented on #114
It's not OpenShift - but ICP: https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.2
Maybe my PodSecurityPolicy is too strict? But it would be good to fail with a more informative message.

[2019-02-22 23:10] lolimjake commented on #114
I agree, even if it is pod security causing the DS deployment failure we should have better error handling and definitely not panic.

I've just pushed a few changes to the unstable tag, could you please update your Kuberhealthy deployment's tag to quay.io/comcast/kuberhealthy:unstable and report back.

I added better logging around the DS checks and teardown and fixed what may be the bug causing y

[2019-02-24 10:22] davidkarlsen commented on #114
Great - now the error is revealed:
[code]
we have to go through a proxy to reach images - can this be configured  in any way?

[2019-02-24 21:00] lolimjake commented on #114
Great, looks like the panic is fixed!

Its possible to make the daemon set image configurable - is the idea that you would upload the pause container to your internal repo and point the daemon set configuration at that internal repo instead?  If that is the case, a configurable DS image seems like a reasonable feature request to me.

[2019-02-24 21:23] davidkarlsen commented on #114
Yes - that's what I need - actually it will be pulled on demand in a write-through manner - so what I need is to configure the full url of any images used by kuberhealthy at deployment time through the chart.

[2019-02-24 21:24] davidkarlsen commented on #114
Should we closed this one as fixed and create a new issue for the configurability?

[2019-02-24 21:34] lolimjake commented on #114
I was just going to suggest opening up a feature request for that part.  If you could make a feature request referencing this bug I'll take a look at the code.  I should have something for you to test out later tomorrow.

[2019-02-24 21:59] davidkarlsen commented on #114
Closing as the actual panic reported was fixed.

[2019-02-24 21:59] #114 closed

[2019-02-24 22:02] davidkarlsen opened #121 "Make dependent images configurable"
**Describe the feature you would like and why you want it**
For closed corporate environments any images requested might need to go through an internal proxy, hence it would be good to be able configure the imagerepo/image required by kuberhealthy (like the gcr pause one).
The chart at https://github.com/helm/charts/tree/master/stable/kuberhealthy should take parameters to be able to point at thes

[2019-02-25 21:16] lolimjake commented on #121
I've pushed an image tag for you to test with to  ds-image-override.

I've added this feature as an argument `dsPauseContainerImageOverride` - If you add this argument to your running kuberhealthy deployment at `deployment.spec.template.spec.containers.args` you should be able to specify the location of the pause container image that the daemon set checker deploys.

Ex:

[code]

[2019-02-25 22:47] davidkarlsen commented on #121
Which image tag should I use?

Small typo, should be
`"your-docker-repo/google_containers/pause:0.8.0"`

[2019-02-25 23:01] davidkarlsen commented on #121
doh -  found it - ds-image-override

[2019-02-25 23:12] davidkarlsen commented on #121
Sorry to disappoint:
[code]

pod:
[code]

[2019-02-26 17:44] lolimjake commented on #121
Ah, my mistake,  you'll also have to specify the command entry point - see below:

[code]

[2019-02-26 21:44] davidkarlsen commented on #121
Nice - that seems to work.
Next now is that the spawned DS should be a bit more configurable too, due to restrictive PSP:
[code]
does it really require to run as root - and why?

[2019-02-26 23:22] lolimjake commented on #121
Great, progress!

Is it reporting that the pause container is running as root?

The pause container doesn't do anything at all, it just sits and waits for an interrupt signal.  I'll work on configuring it to run as a non-root user by default since we should be doing that anyway.

[2019-02-27 00:20] lolimjake commented on #121
I've updated the pause container to run as a non-root user in the daemon-set.  If you re-pull the image you should see that change.

[2019-02-27 13:43] davidkarlsen commented on #121
We have a winner!
[code]
Thanks a lot for all your fixes!
Will this be merged to master and a release made? I can make a PR for the chart when you have it out.

[2019-02-27 16:06] lolimjake commented on #121
Awesome! Thanks for working through that with me.

I've cut v1.0.1 for these series of fixes and will be merging these changes into that release and master after tidying things up and adding documentation.

 I'll reference this issue in the PR so you'll see it. I should have it merged in later today.

[2019-02-27 18:55] lolimjake opened #125 "DaemonSetChecker should pass additional information on check failure"
We should pass up more information when checks fail
- Should pass up the node that failed to build the DS pod
- Should pass the kube error for the failure

[2019-02-27 19:45] davidkarlsen commented on #121
1.0.1? or 1.0.2? Since 1.0.1 already exists: https://quay.io/repository/comcast/kuberhealthy?tag=latest&tab=tags

[2019-02-27 19:59] lolimjake commented on #121
You're correct, v1.0.2.

[2019-02-27 20:02] davidkarlsen commented on #121
OK - I'm ready when you are: https://github.com/helm/charts/compare/master...davidkarlsen:fixKuberHealthy

[2019-02-27 21:00] lolimjake commented on #121
Release cut, and we checked out your charts diff - looks good.

[2019-02-28 10:45] davidkarlsen commented on #121
Closing issue since this is released.

[2019-02-28 10:45] #121 closed

[2019-02-28 10:59] davidkarlsen commented on #119
Fixed in https://github.com/helm/charts/pull/11651 which is being merged to master - this issue can be closed.

[2019-02-28 11:01] davidkarlsen commented on #115
Chart has been fixed and is being merged to master - this issue can be closed.

[2019-02-28 11:04] davidkarlsen commented on #119
Usually prometheus is setup to find the endpoints behind the service and scrape all of them.
I have a "kubernetes-service-endpoints" job which does this.

[2019-02-28 11:28] davidkarlsen commented on #119
See https://github.com/helm/charts/compare/master...davidkarlsen:fixKuberHealthyPorts?expand=1 which fixes this.
The two containers now show up with healthy state in my /prometheus/targets now.

[2019-02-28 11:47] davidkarlsen commented on #119
This issue can be closed

[2019-02-28 17:00] lolimjake commented on #119
Thanks @davidkarlsen!  @logicfox your change has been merged into the helm chart, going to mark this issue as closed, thanks for the contribution!

[2019-02-28 17:00] #119 closed

[2019-02-28 17:05] lolimjake commented on #115
This chart has been merged in, going to close this issue.  Thanks for the contributions @logicfox, @tommy-dk, and @davidkarlsen!

[2019-02-28 17:05] #115 closed

[2019-03-01 12:14] immusk opened #129 "unable to see that kuberhealthy stats are coming to prometheus"
I have pulled the code from
https://github.com/helm/charts/tree/master/stable/kuberhealthy

deployed the helm chart using
helm install stable/kuberhealthy --set prometheus.enabled=true

I have verified the prometheus labels too, everything looks good I am able to runt he curl and get the stats, but

when I try to see these stats on prometheus, I noticed that they are not getting pushed.
are there

[2019-03-01 16:58] ihoegen commented on #129
@immusk which type of prometheus are you using?

The operator or the scraper?

[2019-03-04 05:58] immusk commented on #129
@ihoegen apologies for late reply
I am using scrape

[2019-03-04 23:03] ihoegen commented on #129
@immusk I haven't personally tested using scrape, only operator. I'll give it a try sometime this week

[2019-03-08 17:52] integrii commented on #129
@ihoegen chart approved!

[2019-03-11 11:24] immusk commented on #129
Thanks @ihoegen its is working now, now I am able to see the kuberhealthy stats coming to prometheus

[2019-03-11 11:24] #129 closed

[2019-03-11 11:37] immusk opened #130 "How to add multiple namespaces for kuberhealthy"
Hi Team,

By default, kuberhealthy checks only for kube-system namespace
can you help me how and where to add multiple namespaces
if possible can you give a simple example how and where to add multiple namespaces or all namespaces.

[2019-03-13 09:01] davidkarlsen commented on #113
It's back now - PR added.

[2019-03-13 12:19] immusk commented on #130
I found it, how to give multiple namespaces

[2019-03-13 12:19] #130 closed

[2019-03-13 17:28] #113 closed

[2019-03-13 20:51] integrii commented on #113
I am making some more changes, then I will merge this to the branch where the github site lives.

[2019-03-13 21:13] lolimjake commented on #7
#134 Exposes the grace period as an env var, we now just need to consume this var and pass it through to the shutdown contexts

[2019-03-13 21:15] integrii commented on #7
Line 39 in `main.go` needs overridden when the environment variable for termination grace period seconds is set.  This probably needs done in the `init()` func.

[2019-03-13 21:23] lolimjake commented on #7
https://github.com/Comcast/kuberhealthy/blob/master/cmd/kuberhealthy/main.go#L39

[2019-03-13 23:33] integrii opened #138 "terminationGracePeriodSeconds can not be exposed in the pod spec as an env var"
We can not actually expose `terminationGracePeriodSeconds` to the pod.  :-( .

We need to pull this out of the spec files (and helm chart if it was added there).

[code]

https://github.com/kubernetes/kubernetes/issues/50032

Apparently this is not supported by Kubernetes yet :-(

[2019-03-13 23:46] lolimjake commented on #138
Reverted ⭕️

[2019-03-13 23:46] #138 closed

[2019-03-14 18:37] #68 closed

[2019-03-14 23:26] integrii opened #140 "Support api-aggregator metrics calls"
It would be nice to support the kubernetes [api-aggregator](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) so that our metrics can be accessed via the kubernetes api server in the way that all metrics served from [metrics-server](https://github.com/kubernetes-incubator/metrics-server) are.

I propose that we host an additional handler and include the ap

[2019-03-17 19:07] integrii opened #143 "Allow for custom user checks"
Kuberhealthy could be turned into a great platform for users to easily write synthetic checks that include all the features Kuberhealthy provides today including metrics support and check lifecycle management.  It would be great if users could use some kind of SDK to build their own check container.  This would make Kuberhealthy a great facilitator for writing synthetic checks for any application.

[2019-03-17 19:09] integrii commented on #7
Looks like we can't actually do this due to the kubernetes downward API not exposing `terminationGracePeriodSeconds`

[2019-03-17 19:09] #7 closed

[2019-03-17 19:18] ihoegen-isp commented on #143
Approved

[2019-03-17 19:21] ihoegen commented on #143
Approved. The sdk could either live in this project, or in a Kuberhealthy SDK repo

[2019-03-19 01:42] integrii opened #144 "NPE"
[code]

[2019-03-19 01:46] integrii commented on #144
Interesting result here.  The pod crashed with daemonset checkers on, then restarted.  When restarting, the pod maintained the same name.  That meant the pod was still "master".  That also meant that the pods left from the crashed instance were NOT identified as orphaned and were allowed to lay around.

[2019-03-19 01:53] integrii commented on #144
Also, the pods kept re-creating because an orphaned `daemonset` was hanging around spinning up pods that would never get deleted and was unbeknownst to the previously crashed instance.  We need to label daemonset pods and `daemonset` instance better so that better orphan checks can be run.

[2019-03-19 01:56] integrii opened #145 "Daemonset checker pods do not always get cleaned up properly"
Because "orphan" checks on the daemonset checker use the pod that created them as the indicator if they are orphaned or not, they do not catch the circumstance wherein an instance of kuberhealthy crashes, restarts, and leaves behind a daemonset checker.

**Steps To Reproduce**
- crash kuberhealthy while running a daemonset check
- notice that when kuberhealthy restarts, the daemonset checkers are

[2019-03-19 01:56] integrii commented on #144
See #144

[2019-04-05 23:19] joshulyne commented on #111
@integrii @lolimjake created this pr in the helm/charts repo: https://github.com/helm/charts/pull/12863

TBH, took me a bit to understand the implementation part to this task, but is ^^ that what you guys are looking for and is that the way to add input flags to the helm chart? Not sure if there's more I've got to do.

Lastly, how does setting those values to false get translated to kuberhealthy?

[2019-04-08 21:47] integrii commented on #111
I left you some comments on your helm PR.

[2019-04-09 13:09] maxbischoff opened #154 "Implement deployment checker"
**Describe the solution you would like to see happen**
A check for Deployments analogous to the existing DaemonSet check would be useful to verify, that the Controller Manager loops for Deployments and ReplicaSet are still working. As most applications utilize Deployments, it is important to be sure, that this functionality is working.

**How do you propose we build it?**
The check could be built

[2019-04-11 19:33] lolimjake commented on #144
This appears to be a duplicate of #114 - which is fixed in v1.0.1 +.  Your related issue #145 is valid, though.

[2019-04-11 19:33] #144 closed

[2019-04-11 22:12] integrii opened #158 "Simplify down to one module"
We have two modules right now.  One in `pkg/` and another in `cmd/kuberhealthy`.  This helped get our dependencies figured out, but makes our development much harder because whenever go passes the threshold of a module, it reaches out to the project on the web to fetch it.  It won't use what you have locally.

By moving to a single module that builds all things kuberhealthy, we can avoid the proce

[2019-04-11 22:21] #158 closed

[2019-04-12 17:18] lolimjake commented on #154
I think this is reasonable if its implemented very similarly to the DS checker as you said.  It would be low impact and have very low resource requirements.

We'd like to test most commonly used kube features eventually and this fits into that plan.  If @integrii and @ihoegen agree, I'd say we accept this proposal.

[2019-04-12 17:20] lolimjake commented on #5
Going to start working up a configmap model

[2019-04-12 17:24] lolimjake commented on #5
Though, looking at  #143 proposed use of CRD/operator model for checks, perhaps the original suggestion to use a CRD for the included kuberhealthy flags is the direction we want to move for this proposal, too @integrii

[2019-04-12 17:25] lolimjake commented on #44
I'm starting work on #5 and I'll see if I can include this feature in that work, or at least add it in once the other framework is in place.

[2019-04-12 17:30] integrii commented on #154
I think this is a useful thing to test, but I am not sure it should be enabled by default.  We are already asking a lot of cluster operators with the daemonset checker and the deployment overlaps a good bit.

Be sure that you include the proper flags and environment variables in `main.go` so that it can be toggled like the other checks (as of recently).  The helm chart and static spec files would

[2019-04-12 17:31] integrii commented on #154
I also am a little sad that [this issue](https://github.com/Comcast/kuberhealthy/issues/143) has not yet been completed.  I would have liked to fold this into a more generic test creation pattern instead of the very static one we have today.

[2019-04-12 19:23] integrii commented on #143
@lolimjake and I had a good design discussion for this today.  It breaks down into a few parts:

- [ ] A new check will be created that manages the lifecycle of a pod from end to end
- [ ] A new endpoint will be created that receives status updates from running pods and writes to the state CRD
- [ ] The status endpoint will drop any requests from pods that are not in its pod name whitelist
- [ ] A

[2019-04-30 20:25] ihoegen opened #163 "Bad/unused environment variables in default deploy specs"
**Describe the bug**
The deploy specs in the repo, *not* in the helm chart, contain these environment variables:
[code]
which aren't used anywhere in the code, and are invalid because the value must be a string. This causes installation to fail on the deployment.
**Steps To Reproduce**
`kubectl apply -f deploy/kuberhealthy-and-prometheus.yaml`
**Expected behavior**
Kuberhealthy to install with no

[2019-05-01 18:22] integrii commented on #163
https://github.com/Comcast/kuberhealthy/pull/164

[2019-05-11 14:12] everflux opened #166 "Provide ARM64 images"
**Describe the feature you would like and why you want it**
It would be great, if kuberhealthy could be used for ARM64 based clusters. A multi-arch manifest/image is the only thing required to support that use case imho.

[2019-05-11 20:35] everflux opened #167 "Update pause image to 3.1"
**Describe the feature you would like and why you want it**
The pause image used in the daemonset-test is currently  gcr.io/google_containers/pause:0.8.0  which is an AMD64 image. A change to gcr.io/google_containers/pause:3.1 would work on all architectures supported by kubernetes.

**Additional context**
This is related to https://github.com/Comcast/kuberhealthy/issues/166

[2019-05-13 09:08] integrii commented on #166
Excellent idea!  I don't think we ever realized that there is a common use case for arm here.  It should be quick to get this added, built, and tagged.

[2019-05-13 09:15] integrii commented on #167
They original choice here was to use the same pause container that kubelet used because it would be cached. Because that image changes with different versions, we should probably just assume that it is possible to download the pause container from the web...

We want to be careful not to break anyone currently using an "offline" cluster, though.  We may want to make this configurable, with a defau

[2019-05-14 09:42] everflux commented on #167
That choice sounds perfectly reasonable, though in my case it did not use the desired default image, that would have been the pause 3.1 image which is available for arm64. (I am using crio as container runtime and configured the pause image to use pause:3.1

[code]

For kubelet I did not configure a special infra image, according to the manual it should default to pause:3.1 (at least for kubernete

[2019-05-16 19:59] integrii opened #169 "Apply for the CII best practices badge program"
We need to apply to the [CII Best Practices Badge Program](https://www.coreinfrastructure.org/programs/badge-program/) by the Linux foundation.

[2019-05-16 20:29] integrii opened #172 "Implement gosec"
According to the Linux Foundation, we should implement common vulnerability static code analysis in our build process.  [gosec](https://github.com/securego/gosec) looks like a good solution.

[2019-05-21 16:51] yaron-idan opened #178 "Allow daemonset check to ignore masters"
**Describe the feature you would like and why you want it**
Would be great if the daemonSet check could be configured to not tolerate master nodes. We currently experience an elevated amount of errors because of kuberhealthy pods not removed properly from the masters and I suspect our masters not handling this amount of pods well because they use significantly weaker machines than our agents use.

[2019-05-26 16:02] saokar commented on #130
@immusk  Can you share how you made this work?

[2019-05-28 11:03] immusk commented on #130
@saokar
you can give multiple namespaces in values.yaml file
`
deployment:
  replicas: 2
  maxSurge: 0
  maxUnavailable: 1
  imagePullPolicy: IfNotPresent
  podAnnotations: {}
  command:
  - /app/kuberhealthy
  # use this to override location of the test-image, see: https://github.com/Comcast/kuberhealthy/blob/master/docs/FLAGS.md
  args:
  - --podCheckNamespaces=namespace1,namespace2,namespace3
`

[2019-06-03 02:09] saokar opened #180 "Error during helm install"
Trying to install kuberhealthy using helm. Cluster is running k8s 1.14

Getting the following error,

helm install stable/kuberhealthy

[2019-06-03 21:35] integrii opened #181 "Concurrent map access in daemonset checker"
Very rarely, the daemonset checker crashes Kuberhealthy due to a concurrent map access.  Here is the stack trace:

[code]
 - Kubernetes Version: 1.9.7
 - Kuberhealthy: 1.0.2

[2019-06-03 22:04] integrii commented on #180
Just looking at this, it looks like there must be something wrong with the chart.  The spec path referenced does not contain the specified fields, as the error says.

Here is the spec reference for 1.14: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#securitycontext-v1-core

Looks like something is going wrong with the indents and this line: https://github.com/helm/charts/blo

[2019-06-04 18:33] lolimjake commented on #167
Ah, the pause container image is already configurable with the `dsPauseContainerImageOverride` flag, though the default is currently `gcr.io/google_containers/pause:0.8.0`.  Full flag documentation is available here: https://github.com/Comcast/kuberhealthy/blob/master/docs/FLAGS.md.

I think it's fine to update the default pause container to 3.1 and will work that change into the next release (com

[2019-06-04 18:37] lolimjake commented on #178
This seems reasonable - I think we can allow a passed in list of tolerations to override the auto-generated list which tries to tolerate every taint in the cluster.  I hope to write this and a few other features soon and work them into the next release.

[2019-06-19 22:23] integrii opened #184 "DNS Checker showing errors running but does not go down"
The logs for DNS checker reveal that it is taking too long to run (unexpectedly), then immediately setting the state to`true` (up).  If the check takes too long to run, the state should change to `fase` (down).

Additionally, the check should not still be running.

**Expected behavior**
We should not see the check running at the start of the next run this much and if we do, it should set the check

[2019-06-28 18:51] shuttr commented on #181
@integrii Just when you thought I was gone... :)  This is EKS 1.12.6... no more openshift!

[code]

[2019-06-30 17:03] shuttr commented on #181
So basically, I see two threads referring to the khstates CRD...   Not super seasoned with Go, but I'll have to read the code and understand the routines to gather if there is any implied mutex here or if one should be implemented in code using IPC.

[code]

[2019-06-30 17:59] shuttr commented on #181
More detail from the API Audit Logs...

This is from one of the two API servers EKS provides.

It seems that, given that the sourceIP is the same across the two API servers, the same pod restarted and quickly started working again.  The panic was at 13:49:35Z and the deluge of updates on `khstate` happened on auditlog `7db` immediately afterwards.  The last successful write from the previous runni

[2019-07-20 01:10] integrii commented on #130
Ah yes, this would definitely case the pod restart checker to target multiple namespaces!

[2019-07-20 01:10] #178 closed

[2019-07-20 01:11] integrii opened #186 "Implement node functionality checker that deploys a pod to every available node in the cluster"
Cordoned nodes are used when the daemonset checker's daemonset is deployed.  We should always ignore cordoned nodes because they are likely known to be bad.

We should modify the daemonset checker spec to have a node anti-affinity policy (or otherwise) to achieve this behavior.

[2019-07-20 01:14] #167 closed

[2019-07-22 14:50] rukatm commented on #186
From https://kubernetes.io/docs/concepts/architecture/nodes/

[2019-07-26 15:44] integrii commented on #186
Whoa.  Thanks for finding this.  I wonder if we need to move the checker to _not_ be a daemonset in order to get the functionality we want...

[2019-09-04 16:19] integrii opened #187 "ComponentStatusChecker not tripping"
It looks like `ComponentStatusChecker` is not flipping when components are actually down.

**Steps To Reproduce**
- Have kuberhealthy running
- Bring down one of the componentstatuses
- Observe that no alerts are sent for six minutes

**Expected behavior**
ComponentStatusChecker should switch to `"OK": false,`

**Versions**
 - Kuberhealthy 1.1.0

[2019-09-04 21:14] integrii commented on #143
Work on this continues in the 2.0.0 branch

[2019-09-06 17:32] integrii commented on #187
ComponentStatusChecker removed in Kuberhealthy 2.0.0.  Closing this as we near a 2.0.0 release.

[2019-09-06 17:32] #187 closed

[2019-09-06 17:33] #180 closed

[2019-09-09 15:32] integrii commented on #181
Based on some results from @rshutt, it looks like the recently patch (with tons of mutexting) to the CRD package helped, but we can still have crashes.

I think updating to the newest version of `apimachinery` could fix this.

[2019-09-13 18:39] jonnydawg opened #189 "Rewrite Helm chart for Kuberhealthy 2 and Helm 3"
**Describe the bug**
Helm3 runs into an error when trying to template the stable kuberhealthy chart. The issue seems to come from the customresourcedefinition.yaml

In the following examples `helm` calls Helm2 and `helm3` calls Helm3.

[code]

**Steps To Reproduce**
- Have a [Helm3 release installed](https://github.com/helm/helm/releases).
- Have a copy of stable [Helm3 charts](https://github.com/

[2019-09-18 20:42] integrii commented on #143
This is working as a prototype in the 2.0.0 branch.  Let's switch to filing bugs.  Closing!

[2019-09-18 20:42] #143 closed

[2019-09-18 20:43] integrii commented on #5
`runInterval` is configurable in the new khcheck resource!

[2019-09-18 20:43] #5 closed

[2019-09-18 20:45] integrii opened #191 "Rewrite documentation for new v2 external check pattern"
With the new Kuberhealthy 2 external check model, we need to entirely refactor our documentation.  We also need to move all checks to run externally as we do so.

Any options that were tunable for specific checks in the existing docs will now be configurable directly on the `khcheck` resources for the various external checks.

[2019-09-24 16:46] integrii commented on #189
As part of fixing this, we can probably bring our chart out of the `helm/charts/stable` repository and into our own.  Helm 3 has the [chart museum](https://chartmuseum.com/) these days.

[2019-09-24 17:52] integrii opened #195 "External checks show as down before first run completes"
External checks show that they are `OK: false` before the first external checker run completes.  This happens after adding the custom resource for the check, but before the check runs the first time.

**Steps To Reproduce**
- Add a new and never before used external check to KH
- Observe the status page

**Expected behavior**
The check will show "ok" until it comes back "down"

**Versions**
 - Kub

[2019-09-25 18:09] joshulyne opened #196 "Kuberhealthy creates incorrect host name when posting externalcheckstatus when not in kuberhealthy namespace"
**Describe the bug**
When running kuberhealthy locally in the `default` namespace, the host name we try to report the success or failure of the kuberhealthy check defaults to the `kuberhealthy` namespace.

**Steps To Reproduce**
- Run kuberhealthy locally in `default` namespace or any namespace not `kuberhealthy`
- Run a kuberhealthy check

**Expected behavior**
The success or failure report shoul

[2019-09-25 18:37] integrii commented on #196
This fix is pushed and available in the `quay.io/comcast/kuberhealthy:2.0.0alpha2` image.

[2019-09-25 18:37] #196 closed

[2019-09-27 00:00] integrii opened #197 "A typo in a khcheck spec can cause khckeck listing to fail"
**Describe the bug**
If any `khcheck` custom resource in kuberhealthy 2 has a syntax error in the spec, it appears that the kubernetes client fails to list all `khcheck` objects.

**Steps To Reproduce**
- Create a `khcheck` with a typo in the container list or something

**Expected behavior**
A helpful error is logged indicating that you fat fingered your check.

[2019-09-27 18:08] jonnydawg opened #198 "unable to reach "khstate.comcast.io""
**Describe the bug**
Kuberhealthy 2 is running into an issue accessing an incorrect api resource

[code]

[2019-09-27 18:25] integrii commented on #195
Resolved by skipping the display of checks that do not have an AuthoritativePod listed.

[2019-09-27 18:25] #195 closed

[2019-09-27 19:38] jonnydawg opened #200 "Failure to cleanup check pods when khcheck CRD is deleted during check run"
**Describe the bug**
External check pods created during check runs are not cleaned up if the khcheck is deleted.

**Steps To Reproduce**
Add a khcheck
[code]
Wait for the external check to run, and delete the khcheck before the run completes and reports back.
[code]
Observe that the pod remains.

**Expected behavior**
The master should clean up dead external checks.

[2019-09-27 22:42] integrii commented on #198
Fixed in recent RBAC adjustments

[2019-09-27 22:42] #198 closed

[2019-09-30 18:44] integrii opened #201 "Detect when external checker images have had an error pulling and report it on the status page"
It will be common for users to input a khcheck image with the wrong URL - we should catch this situation of `ErrImagePull` and show it on the status page properly.

[2019-10-01 16:52] integrii commented on #181
I think I have a fix for this (again).  I moved the system to use a single client, rather than creating clients all over the place.  I believe something  inside apimachinery does not fully support running multiple clients concurrently.  The fix is in the 2.0.0 branch.

I am leaving this open for now, but in testing this is looking very fixed.

[2019-10-01 20:52] integrii opened #204 "Kuberhealthy thinks khchecks have been "added" every time they are modified for any reason"
Kuberhealthy is spamming that khchecks have been added, which causes rapid re-loading of checks.  We should be sure that notifies are only sent by `watchForKHCheckChanges` when things actually change.

[2019-10-01 21:04] integrii opened #205 "Improve error handling for duration parsing"
When a khcheck check has an invalid duration or timeout set, we assume a default and move on.  See line 314 in `kuberhealthy.go`.

We should change this to set a `khstate` error if the fields fail to parse.  The check should _not_ be added to the list of configured checks in this case.

[2019-10-02 20:31] integrii commented on #197
Example error from this:

[code]

[2019-10-03 16:43] integrii commented on #197
It may be that we register an endpoint on kuberhealthy as a validatingwebhook and send all crd operations through it.  This would give us a chance to validate the yaml before it ends up in the database.

[2019-10-03 17:01] integrii commented on #201
I think the relevant code here is in branch `2.0.0` https://github.com/Comcast/kuberhealthy/blob/2.0.0/pkg/checks/external/main.go#L571

[2019-10-03 17:04] integrii commented on #204
The relevant code is here: https://github.com/Comcast/kuberhealthy/blob/2.0.0/cmd/kuberhealthy/kuberhealthy.go#L191

we need to unwrap the incoming object from the watch as a `khcheckcrd.KuberhealthyCheck` and look to see if things have really changed.  The code appears to notify with `added` too many times.

[2019-10-03 17:06] integrii commented on #200
This may be fixed now with changes to the change notifier and timeouts.  We should re-test this.

[2019-10-03 17:19] integrii commented on #205
https://github.com/Comcast/kuberhealthy/blob/2.0.0/cmd/kuberhealthy/kuberhealthy.go#L314

[2019-10-03 17:22] integrii commented on #172
This would be added in the `Dockerfile` [here](https://github.com/Comcast/kuberhealthy/blob/master/Dockerfile#L8).

[2019-10-03 17:25] integrii commented on #111
This should be held until we refactor the chart for external checks in version 2.  Adding checks will move from flags to specific `khcheck` custom resources.

[2019-10-03 17:26] integrii commented on #181
This is showing as fixed in version 2 in our testing.  No crashes at all with lots of CRD use.

[2019-10-03 17:26] #181 closed

[2019-10-04 23:38] integrii opened #212 "Fix errors found by gosec"
**Please make sure changes for this are done on the `2.0.0` branch!**

Here are the errors currently reported by `gosec`:

[code]

[2019-10-04 23:39] integrii commented on #172
Thanks @u5surf!

[2019-10-04 23:39] #172 closed

[2019-10-04 23:40] integrii commented on #169
We did this awhile back!  Badge is on the README.

[2019-10-04 23:40] #169 closed

[2019-10-04 23:41] integrii commented on #102
This happened and the badge is on the README!

[2019-10-04 23:41] #102 closed

[2019-10-04 23:44] integrii opened #213 "Implement Namespace Pod Checker"
I would like to see a check for kuberhealthy 2 that verifies that a pod can be deployed in all namespaces (or a specified list of namespaces).  Sometimes logical requirements like finalizers, mutating web hooks, admission controllers, quotas, and other things can prevent a pod from being provisioned on a per-namespace basis.

We should create a Kuberhealthy 2 check that loops over each namespace a

[2019-10-04 23:46] integrii commented on #163
These are now fixed up and/or working.

[2019-10-04 23:46] #163 closed

[2019-10-05 04:05] Pensu commented on #212
@integrii I would like to work on this one, if it's still available.

[2019-10-07 18:05] joshulyne opened #215 "Clean up KHStates when external checks are deleted"
**Describe the bug**
When a `khcheck` is created, a `khstate` is also created to report the status of the external check. However, when the `khcheck` is deleted the `khstate` does not get cleaned up. This does not affect our kuberhealthy status page as deleted external check statuses are not displayed.

I have also noticed that when you try and delete the `khstate` manually from the command line (

[2019-10-07 18:35] joshulyne opened #216 "Create registry or listing of all kuberhealthy external checks and associated kube specs"
Create a maintainable list of registry of all external kuberhealthy checks and their associated kube specs.

[2019-10-07 19:37] integrii commented on #212
Thanks @Pensu - If you are still up for taking another wack at this in the `2.0.0` branch, I have added you as the assignee here.

[2019-10-07 19:38] #201 closed

[2019-10-07 19:38] integrii commented on #201
Thanks for the fix @u5surf!

[2019-10-07 23:19] joshulyne commented on #186
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations
^^ this lists out the tolerations automatically added to the daemonset and it includes the `node.kubernetes.io/unschedulable:NoSchedule` toleration.

Instead of rewriting the daemonset checker, we should consider writing a new khcheck that verifies pods are scheduled on everything except cordoned nodes.

[2019-10-08 03:21] Pensu commented on #212
@integrii Yeah, sure. Will send a PR for 2.0.0 branch.

[2019-10-11 18:06] #8 closed

[2019-10-15 18:27] integrii opened #221 "Create an image pull test"
Sometimes upstream repositories go down.  It would be nice to have an alert for this because it could quickly turn into a production problem.  All we need to do is configure a `khcheck` that uses the example checker and an `imagePullPolicy` of `Always`.

Docker went down today and Kuberhealthy v2 showed errors in our test lab, but it would be nice to have a dedicated check for this.

[2019-10-15 18:28] integrii commented on #11
Clearing this from the 2.0.0 launch milestone.  This should be implemented as an external check for v2.

[2019-10-15 18:29] #200 closed

[2019-10-15 22:24] integrii opened #222 "Create an admission controller for khcheck resources"
I would like us to have the ability to validate `khcheck` resources  prior to them ending up in the API server.  When bad `khcheck` resources get into the API, bad things like this happen:

[code]

This also causes a lot of `InternalError` when watching for `khcheck` changes:
![image](https://user-images.githubusercontent.com/98695/66874373-c5255300-ef5f-11e9-8da6-baffbd5b1fa4.png)

We could imple

[2019-10-16 23:28] integrii opened #223 "Gracefully detect when checker pods are shutdown or deleted expectedly and don't throw an error that the pod never reproted in"
This issue is for Kuberhealthy 2 only.

When a check pod is running, the node under it may be cordoned and drained on purpose.  In this situation, we want to avoid indicating that the checker pod never reported in and instead should reschedule the checker pod.  Currently, any time a checker pod is evicted and does not check in, Kuberhealthy will eventually hit a timeout and think that the pod neve

[2019-10-17 18:20] joshulyne commented on #215
@integrii I believe this is fixed now? Since you added the fix for kuberhealthy to no longer have these checks when they're deleted

[2019-10-17 18:28] joshulyne commented on #223
This should include check pods that are deleted before it's `runInterval`. When new checks are added, deleted, modified -- kuberhealthy stops / deletes all running check pods to reconfigure all of them, but doesn't provision new pods for these checks until the check's next `runInterval`. Therefore, KH assumes the checker pod never reported in and reports the check as a failure.

[2019-10-17 23:18] integrii commented on #223
addressed in c6b2df0db4c39a5f0beff9bbe5fce8f76c406ea8

[2019-10-17 23:18] #223 closed

[2019-10-17 23:22] integrii opened #225 "Make the failure count on the external pod restart checker configurable"
It would be nice if we could configure the failure count threshold for pod restarts in the external pod restart checker.  This is a change for the v2 pod restart check.

[2019-10-18 19:50] integrii commented on #215
Thanks for the well described issue.  That really helps define the problem.

I do agree that we should have some pathway to clean up old `khstate` resources in the cluster.  What exactly that lifecycle looks like is up for suggestion.

I think it's either going to be that the `khstate` is deleted as soon as the `khcheck` is deleted, or it's going to be the case that we wait some period of time aft

[2019-10-21 20:41] integrii opened #227 "Remove pod restart check and all configuration inputs from kuberhealthy binary"
In version 2, we no longer do the pod restart check from within the main binary, so we should remove all code that deals with the pod restart check from the kuberhealthy binary.

[2019-10-21 20:42] integrii opened #228 "Remove daemonset check code from kuberhealthy binary"
In version 2, we no longer do the daemonset check from within the main binary, so we should remove all code that deals with the daemonset check from the kuberhealthy binary.

[2019-10-21 21:05] joshulyne commented on #205
https://github.com/Comcast/kuberhealthy/blob/2.0.0/cmd/kuberhealthy/kuberhealthy.go#L344

[2019-10-21 22:25] joshulyne opened #229 "Move away from static secrets in khcheck configs"
**Describe the bug**
Right now we are providing static secrets in order to implement the khcheck daemonset check -- pr #207

Investigate how helm or other config management tools manage config secrets

[2019-10-22 00:11] joshulyne commented on #225
#224 merged in

[2019-10-22 00:11] #225 closed

[2019-10-22 00:12] #216 closed

[2019-10-22 22:07] joshulyne opened #230 "Kuberhealthy to create ServiceAccounts for external checks"
**Describe the solution you would like to see happen**
To address issue #229 on having to deal with static secrets for khcheck configurations, we could create the service account in the check itself.

**How do you propose we build it?**
In the external khcheck, we add an initial functionality where it checks to see if a serviceaccount with the same name as the khcheck exists. If it doesn't, we pro

[2019-10-22 22:12] integrii commented on #229
To reiterate the challenge here:

- When we distribute `khcheck` resources, they will often times need to come with RBAC configuration yamls
- These configuration YAMLs bind to a service account
- Providing a static service account is a security issue (it can be used to login to the cluster)
- Asking the user to run a second `kubectl create serviceaccount blah` command is not ideal.  We prefer the

[2019-10-22 22:14] joshulyne commented on #229
Possible proposal #230

[2019-10-22 22:16] integrii commented on #230
I think using `kubectl delete -f` on the same yaml file used to apply the check makes for the easiest cleanup.  The kuberhealthy functionality could be as follows:

- When a new check is created, kuberhealthy checks if a service account using the same name exists (TODO: what if the user has specified a different service account in the pod yaml?)
- If the service account for the check name does not

[2019-10-23 01:34] joshulyne commented on #230
Would it be helpful to pass in a bool env var in the khcheck to specify whether or not the check requires a service account? Or do you think all external checks would require one?

[2019-10-23 21:39] integrii opened #231 "externalCheckReportHandler should auto-deny any IP from outside the cluster"
Because the endpoint for `externalCheckReportHandler` does several API lookups over a duration to give fast running checker pods time to appear in the API pod list, we should consider the endpoint dangerous for any public consumption.

This means that any request going to the `externalCheckReportHandler` from sources outside the cluster should automatically be denied.  We should design this in a w

[2019-10-23 21:41] integrii commented on #184
irrelevant after 2.0.0 rewrite

[2019-10-23 21:41] #184 closed

[2019-10-23 21:41] integrii commented on #189
we should just rewrite the helm chart for kuberhealthy 2 and helm 3

[2019-10-23 21:42] integrii commented on #145
effectively fixed with client re-use preventing crashes

[2019-10-23 21:42] #145 closed

[2019-10-23 21:44] integrii commented on #186
looks like we can't prevent this.  Changing to a new issue for adding a new node functionality check

[2019-10-23 21:46] integrii opened #232 "Remove DNS check and all functionality from main kuberhealthy binary"
This has been moved to an external check in kuberhealthy 2.0.0.  This change should be done in the 2.0.0 branch

[2019-10-23 21:47] integrii commented on #197
This is being solved with an admission controller deployment.  in #222

[2019-10-23 21:47] #212 closed

[2019-10-23 21:57] integrii opened #233 "Remove pod status check from main kuberhealthy binary"
Everything involving the pod status check should be removed from the main kuberhealthy binary in favor of an external check

[2019-10-23 22:53] integrii opened #234 "Add documentation for deployment check"
We need a `README.md` [here](https://github.com/Comcast/kuberhealthy/tree/2.0.0/cmd/deployment-check).

This should have the stuff I just removed from the main `README.md`:

#### Deployment and Service

The check deploys a `deployment` to the `kuberhealthy` namespace with `2` replicas and waits for pods and service to be in the 'Ready' state and serve a hostname.  Once rady, the check makes a requ

[2019-10-23 23:06] integrii opened #235 "Create documentation for writing your own checks"
We need an example app and documentation for writing your own external checks with Kuberhealthy.

[2019-10-23 23:22] integrii commented on #191
Initial refactor work on this today: https://github.com/Comcast/kuberhealthy/blob/2.0.0/README.md

Still needs the Helm chart instructions refreshed and the default checks that come with described.

[2019-10-23 23:45] integrii commented on #230
Many checks won't make API calls and won't need a serviceaccount, but I would not like to have users blocked by a hidden bool var they need to flip on before they get access.  I would prefer we just prepare and use the service account for everything, even if they don't use it.

[2019-10-24 00:17] jonnydawg commented on #11
An external checker for a deployment and service has been created for 2.0.0.

[2019-10-24 00:24] integrii opened #237 "Create a Javascript module for reporting status to Kuberhealthy and an example check for it"
It would be nice to have a Javascript module and example `khcheck` for Javascript developers to start with when writing their own checks.

[2019-10-24 00:27] integrii commented on #235
https://github.com/Comcast/kuberhealthy/edit/2.0.0/docs/EXTERNAL_CHECK_CREATION.md WIP

[2019-10-24 00:45] integrii commented on #237
docs for making your own check client: https://github.com/Comcast/kuberhealthy/blob/2.0.0/docs/EXTERNAL_CHECK_CREATION.md

[2019-10-24 00:49] integrii commented on #235
first draft docs completed

[2019-10-24 00:49] #235 closed

[2019-10-24 00:50] jonnydawg commented on #11
#226

[2019-10-24 00:52] integrii commented on #191
Added information about creating your own checks to main readme

[2019-10-24 19:38] jonnydawg commented on #234
Moved in a recent commit.

[2019-10-24 19:38] #234 closed

[2019-10-25 22:14] jonnydawg commented on #222
Tabling this for now because we still need to decide on a good solution for handling certs.

Looks like others in the community like utilizing keygen scripts.

We could look at a cert manager?

[2019-10-30 22:49] integrii commented on #191
Closing this for now.  We can include extra documentation beyond what has been done in the helm creation issue.

[2019-10-30 22:49] #191 closed

[2019-10-30 22:52] jonnydawg commented on #229
Kubernetes will handle your secrets for you if you apply a yaml just like:

[code]

[2019-10-30 22:53] integrii commented on #229
Ah-hah!  So this is as simple as leaving the secret out of the specs entirely.  Closing this and #230 then!

[2019-10-30 22:53] #229 closed

[2019-10-30 22:54] integrii commented on #230
It turns out that just adding a serviceaccount into a cluster will automatically create the secret, even if you're using `kubectl apply -f`.  You never need to run `kubectl create secret` if you are deploying a khcheck.

[2019-10-30 22:54] #230 closed

[2019-11-04 18:59] #232 closed

[2019-11-04 18:59] #228 closed

[2019-11-04 18:59] #227 closed

[2019-11-04 20:39] jonnydawg opened #244 "Refactor KIAM check to use a more solid test -- move away from Lambdas"
**Describe the feature you would like and why you want it**
The current KIAM check lists Lambdas as a way to test KIAM metadata intercept services. It could be better to test this differently as Lambas do not really represent KIAM functionality.

[2019-11-04 20:44] #154 closed

[2019-11-04 20:45] integrii commented on #111
Refactoring this issue for kuberhealthy 2 usefulness

[2019-11-04 20:47] integrii commented on #233
This was removed in a prior PR

[2019-11-04 20:47] #233 closed

[2019-11-04 21:03] integrii commented on #189
Replaced by #111

[2019-11-04 21:03] #189 closed

[2019-11-04 21:11] integrii opened #245 "external checks that report errors very quickly sometimes do not register the error"
When checks report errors very quickly, without waiting even a couple seconds, the failure does not get properly written into the `khstate` custom resource.

This can be seen in the upcoming check for external pod restarts in #224.

[2019-11-04 21:13] integrii opened #246 "Externalize pod status check"
We should convert the pod status checker into an external check for Kuberhealthy 2.

This is already in progress here: https://github.com/Comcast/kuberhealthy/tree/2.0.0-PodStatusCheck

[2019-11-04 21:14] integrii commented on #246
this is blocked #245

[2019-11-05 00:58] integrii opened #249 "KH_POD_NAMESPACE being applied multiple times on pods"
[code]

Looks like `KH_POD_NAMESPACE` is being repeatedly appended to check specs somehow.  We should ensure that we set environments on top of any that exist, instead of allowing for blank env vars to be set.

[2019-11-05 22:44] #249 closed

[2019-11-05 22:45] integrii commented on #246
This was recently merged, even though it may be bugged in #245 - PR was #248

[2019-11-05 22:45] #246 closed

[2019-11-06 00:43] integrii opened #251 "Checks with the same name in different namespaces overwrite each other on the json status page"
**Describe the bug**
If you have two checks with the same check name, but in different namespaces, they will fight over which one is displayed on the status page.  Imagine there two two checks entitled `ami` on the page below:

![image](https://user-images.githubusercontent.com/98695/68258236-f935e600-ffea-11e9-9d6e-332f143e8b36.png)

**Steps To Reproduce**
- Use kuberhealthy 2
- Create two khchec

[2019-11-06 00:48] integrii commented on #245
I believe this is actually issue #251 so I am closing it for now.

[2019-11-06 00:48] #245 closed

[2019-11-06 02:11] #251 closed

[2019-11-06 03:05] integrii commented on #204
This has been fixed for some time after looking at the current kuberhealthy.go line 293.  This issue must not have been closed properly.  Further investigation into testing clusters confirms that reloads are only happening when expected.

![image](https://user-images.githubusercontent.com/98695/68264863-28eee900-ffff-11e9-849e-34cacf6c2666.png)

[2019-11-06 03:05] #204 closed

[2019-11-07 19:54] integrii opened #252 "Add configmap support with live-reloading to Kuberhealthy"
Instead of using a lot of different flags to configure Kuberhealthy, we could refactor to use a configmap yaml.

If we do this, I believe we should ensure that the configmaps are automatically reloaded when they change so that users don't have to bounce kuberhealthy pods when making changes.

[2019-11-07 22:11] jonnydawg commented on #111
Just pushed changes that address this!
https://github.com/Comcast/kuberhealthy/commit/2bf6631ca33f7febff610b65b2754d3a21e1d185

[2019-11-08 00:52] integrii opened #253 "khcheck CRD race causing inability to update check uuid"
**Describe the bug**
When a khcheck is edited by the user, it may race with the `uuid` field updates used by kuberhealthy.  This can cause kuberhealthy to fail a write to the khcheck CRD.

**Steps To Reproduce**
- repeatedly edit a khcheck while its running

**Expected behavior**
no errors

**Error message**
[code]

**Versions**
 - Kuberhealthy 2.0.0rc1

[2019-11-08 01:09] integrii opened #254 "deployment check in kh2 can leave deployment pods"
The deployment check in kh2 can leave deployment pods if terminated before completion.

We should be sure that the deployment check captures shutdown signals and appropriately cleans up pods before terminating.  We should also ensure that the khcheck yaml allows enough `terminationGracePeriodSeconds` time for the cleanup to complete.

![image](https://user-images.githubusercontent.com/98695/684409

[2019-11-08 23:54] integrii opened #255 "false failures due to external checker not detecting pod check-in"
If you look closely below you can see that this check started, passed, then was flagged as timed out and failed incorrectly.

[code]

[2019-11-09 00:22] integrii commented on #255
This appears to only happen on the first run after a rapid change in `khcheck` resources.  More than likely a race with checks shutting down and starting again too quickly.

The pod may also have gained/lost master rapidly to put it into this state.

[2019-11-09 01:07] integrii commented on #255
[code]

[2019-11-11 23:53] integrii commented on #253
this happens during rolling updates a lot.

more evidence:
![image](https://user-images.githubusercontent.com/98695/68630202-6b02a980-049b-11ea-9b4d-1ecd1208f97a.png)

[2019-11-12 01:43] integrii commented on #253
Fixed in https://github.com/Comcast/kuberhealthy/commit/1770404bd0f0bb19eefaa95ffea3d2364a3632b2

[2019-11-12 01:43] #253 closed

[2019-11-12 01:58] integrii opened #256 "Pod status checker false-positives"
**Describe the bug**
I see an alert in one of our test clusters that displays a lot of pods in the state of `Failed`, but looking at the pods manually with `kubectl` does not display anything with `Failed` at all.  It appears the client used by `pod-status` is fetching `Failed` pods that set off alarms, but those pods don't really exist.

**Screenshots**
![image](https://user-images.githubusercont

[2019-11-12 02:20] integrii commented on #255
This issue was due to khcheck resources not allowing updates during a race where two things were updating it at the same time.  This has been fixed with a retry on khcheck updates.

The first item in the comment above here (timeout waiting for pod to exit) should be fixable by moving from a watch (which often didnt show all events) to a repeated `List` call against the API.

[2019-11-12 02:20] #255 closed

[2019-11-12 02:21] rukatm commented on #256
`kubectl` 1.14.7
Checked status of pods and they are either `Evicted` or `OutOfcpu` with a `Status` of `Failed`.

![image](https://user-images.githubusercontent.com/42722077/68635669-203e5d00-04ae-11ea-92c0-8c404c9d7173.png)

![image](https://user-images.githubusercontent.com/42722077/68635698-3815e100-04ae-11ea-888e-923673282664.png)

[2019-11-12 03:01] integrii opened #258 "Status page is slow"
**Describe the bug**
The status page is very slow, taking sometimes 10 seconds to load.  This is because we moved to a single client to prevent concurrent map accesses.

**Versions**
- kuberhealthy 2.0.0

**Additional context**
We should consider moving the status page to use a watch from the server and a local cache, so that results are prepared prior to the request.  Right now, new requests case

[2019-11-12 09:15] integrii opened #259 "DNS external checker NPE"
I found an NPE in the DNS status checker:

![image](https://user-images.githubusercontent.com/98695/68658237-ec812880-04e9-11ea-83d7-4e57ab66fd78.png)

[2019-11-12 09:51] integrii commented on #258
`k8s.io/client-go/cache`

[2019-11-12 10:02] integrii opened #260 "Pod restarts checker logs memory address"
![image](https://user-images.githubusercontent.com/98695/68661802-64525180-04f0-11ea-8bca-adfa91828a8e.png)

[2019-11-12 12:41] integrii commented on #256
I am getting some of these tonight right when Kuberhealthy does a rolling update.  I think the root cause is different, but the result is the same: false positives from the pod status checker.

AVAB says it has pod-restarts in phase pending
![image](https://user-images.githubusercontent.com/98695/68672377-53143f80-0506-11ea-9ad0-1df09154e91d.png)

but if you look at the pod's description, it wasn'

[2019-11-12 14:14] integrii opened #261 "Deployment check crashes"
I haven't been able to find the exact crash, but it is clear that the deployment checker sometimes crashes, leaving pods around.  Here are other checks that all indicate this is happening:

![image](https://user-images.githubusercontent.com/98695/68678818-87422d00-0513-11ea-9399-8d74d259db17.png)

the leftover pods from it:
![image](https://user-images.githubusercontent.com/98695/68678805-827d7900

[2019-11-12 14:30] integrii opened #262 "Checks running concurrent instances"
After adding the UUID of check runs to the logs, you can see that sometimes checks are running multiple copies on top of eachother.  This causes wild race conditions from end to end.

[2019-11-12 19:03] joshulyne commented on #260
Fixed in this commit: https://github.com/Comcast/kuberhealthy/commit/574418d25158d02b8c4f4b7a6da728568e5a2dc7

[2019-11-12 19:04] #260 closed

[2019-11-12 20:13] joshulyne commented on #259
Built and pushed a new dns-status-check image with the latest KH checkclient package that addresses the NPE when reporting to KH. Changed the helm chart image pull policy for this dns-status-check-internal/external to `Always` to take in the latest changes when it's redeployed to our clusters

[2019-11-12 20:13] #259 closed

[2019-11-12 21:47] jonnydawg commented on #261
I've added some `== nil` checks throughout the deployment check code to hopefully prevent future crashes: https://github.com/Comcast/kuberhealthy/commit/f9f976c9a2866e695cdbfe6a48f1f87ae9aa3665

Hopefully this will help

[2019-11-12 21:48] jonnydawg commented on #254
Related to #261

[2019-11-14 22:53] integrii commented on #258
fixed in #264

[2019-11-14 22:53] #258 closed

[2019-11-14 22:54] integrii commented on #262
Fixed in #263

[2019-11-14 22:54] #262 closed

[2019-11-14 22:55] integrii commented on #254
Let's re-open if this is still an issue after #261 is found

[2019-11-14 22:55] #254 closed

[2019-11-14 23:06] integrii commented on #205
this was fixed at some point in our error handling improvements

[2019-11-14 23:06] #205 closed

[2019-11-15 01:41] integrii commented on #111
chart PR submitted https://github.com/helm/charts/pull/18899

[2019-11-15 01:42] integrii commented on #261
These seem to be okay right now - moving to the 2.1.0 milestone.  KH2 leaves pods around longer, so we may be able to get a log on the crash.

[2019-11-15 01:43] integrii commented on #256
This seems to be working right now.  Moving to the 2.1.0 milestone for further investigation.  If you think this is fixed, we can close and re-open if we find otherwise.

[2019-11-15 02:14] jonnydawg commented on #261
I've also added a catch incase panics occur -- these should be reported to KH2.

[2019-11-15 05:47] integrii opened #265 "Retain completed/failed pods for historical reasons"
We need to leave completed/failed pods around for awhile so that admins can look at them for log information.  Currently, when a check fails, it gets deleted and re-created on next run.  This drops all history for it, so we don't normally know what went wrong on the checker pod.

We should:
- make each check run have a unique pod name
- leave some number of pods in history around for diagnostics e

[2019-11-15 20:45] joshulyne commented on #265
Additional suggestions:
- We should consider leaving around failed pods for a while longer than completed pods. Since some checks run at a much faster interval, leaving some number of pods in history might not be enough time for kube operators to find/check the failed checker pod.
- Include the actual checker pod name in the json status page -- could replace the `AuthoritativePod` field with the c

[2019-11-15 23:31] integrii opened #267 "pod-status sees its own pod in status Failed"
It looks like pod-status does not have the right client namespace set and is fetching failures from multiple namespaces.

**Steps To Reproduce**
- have two pod-status checks running in different namespaces
- have a pod fail in one of the two namespaces
- observe two failure alerts

**Expected behavior**
Only one pod should show a failure - the pod who is responsible for that namespaces

**Screensh

[2019-11-15 23:46] integrii commented on #267
on second look here, it is expected that both pods have the same name.  This isn't necessarily two errors from the same namespace - this could be both pods erroring out for the same reason...

[2019-11-15 23:49] integrii commented on #261
this is looking good in image 1.0.2 so far I think

[2019-11-15 23:50] integrii commented on #267
related to #256?

[2019-11-16 01:36] rukatm commented on #267
Both pods erroring for the same reason could be it.  Attempted to repro with 3 failed pods across 2 namespaces and the output appears to be as expected where each responsible checker pod is reporting their corresponding failures.

![image](https://user-images.githubusercontent.com/42722077/68985591-7112c600-07cc-11ea-8de2-a2cd91491a36.png)
[snip]
![image](https://user-images.githubusercontent.com/

[2019-11-16 02:19] integrii commented on #267
Good data!  We will keep hunting the root cause, then.

[2019-11-18 08:47] integrii commented on #261
I was able to capture a failure in the logs tonight!
![image](https://user-images.githubusercontent.com/98695/69037569-fe0c7980-099c-11ea-8aca-111712deffdd.png)

[2019-11-18 08:47] integrii commented on #261
[code]

[2019-11-18 08:55] integrii commented on #267
Closing in favor of #256 - if there actually is an issue it hasn't been happening lately.

[2019-11-18 08:55] #267 closed

[2019-11-18 08:57] integrii opened #270 "pod-restarts check goes to status Failed when terminated"
When Kuberhealthy reconfigures or changes masters, it shuts down all checker pods.  This for some reason, causes pod-restarts to exit with a non-0 exit code.  Thereafter, the pod-status checker finds the pod as `Failed` and sends an alert.

We should ensure that the pod-restarts check does not exit with a non-0 code when sent a `SIGTERM` (like docker/k8s does).

[2019-11-19 18:51] weikinhuang commented on #166
any update on this?

[2019-11-23 00:34] integrii commented on #261
![image](https://user-images.githubusercontent.com/98695/69469452-db37e780-0d45-11ea-9f8c-35c3b40553be.png)

Looks like the daemonset is making pods with names that are too long.  Perhaps shorten the prefix of the ds test pods @joshulyne ?

[2019-11-23 00:38] integrii commented on #166
We haven't done this yet, but it seems that with the launch of Kuberhealthy 2, this has become harder.   KH2 comes with several different containers - one for each check - that get spawned from the main kuberhealthy instance.

This means that all checks as well as the main kuberhealthy would need compiled with arm and x86_64...

[2019-11-23 00:39] integrii commented on #166
Is this how you do multi-arch images still: https://engineering.docker.com/2019/04/multi-arch-images/ ?

[2019-11-23 00:41] integrii commented on #166
Looks like we need to find out if Quay.io supports multi-arch images as well.

[2019-12-02 17:22] #270 closed

[2019-12-02 17:22] #261 closed

[2019-12-02 23:38] rukatm opened #274 "pod-restarts timed out while waiting for pod to exit"
**Describe the bug**
Pod restarts timed out while waiting for pod to exit.

**Screenshots**
![image](https://user-images.githubusercontent.com/42722077/70003844-4db08080-1519-11ea-9cc6-715d6793778f.png)

**Additional context**
Happened to catch this while running a tail on the pod's log.  Previous occurrences were not caught as the checker pod's history was not available (being addressed in https:

[2019-12-03 17:08] joshulyne commented on #274
Hmm so this should be an older version of the pod-restarts check. Since we just re-deployed to all the bravo clusters, we shouldn't see this error anymore ^

[2019-12-03 17:46] jonnydawg commented on #274
Pod-restarts was unable to report to KH -- received a 500 internal:

![image](https://user-images.githubusercontent.com/12464614/70075514-d1b64700-15b1-11ea-9acd-20bee0545334.png)

[2019-12-05 01:26] integrii commented on #265
https://github.com/Comcast/kuberhealthy/tree/unique-pod-names is WIP in this.  I added the eviction of pods in place of deletion and made every checker pod use a unique name.

This still needs some kind of daemon running either in the external checker or in the main kuberhealthy program that will appropriately delete completed, failed, or evicted pods after they have reached some limit on count or

[2019-12-07 20:25] strigazi opened #278 "Add a check that pods are reachable from all nodes"
**Describe the solution you would like to see happen**
Similar to checking the pod status, it would be interesting to check that every k8s-node can reach a pod in a given namespace. The reasoning behind this it to catch CNI issues. For example, podA  in nodeX gets an IP from the CNI but podB in nodeY can not reach it (.i.e the CNI config is wrong).

**How do you propose we build it?**
A very simpl

[2019-12-08 05:52] sladyn98 commented on #221
Hello, I would like to take up this issue in order to get familiar with the codebase, could you help me begin?

[2019-12-09 17:45] integrii commented on #278
This seems similar to #213 almost, but #213 didn't include networking.

It sounds like it could be possible to create a check that then spawns a daemonset to verify every node can ping a specific IP.  This would require the target IP to always be available, though.  Also, if routes were bad to just a hand full of nodes, the check may not catch the issue.

It sounds like we might need here is a ful

[2019-12-09 17:50] integrii commented on #221
Hey there @sladyn98!  We would love to have your contribution.  This check should be easy.  Here is what I am thinking:

- Create a checker pod that ALWAYS exits by calling `checkclient.ReportSuccess()`
- Create a check spec (khcheck yaml) that uses this new check image and has `imagePullPolicy` set to `Always`

I would create the check in the `cmd/` directory of this project (fork the repo so you

[2019-12-09 17:52] integrii commented on #256
We need #265 to help troubleshoot this, but I think it may be a non issue.

[2019-12-09 17:52] integrii commented on #274
We need #265 to help troubleshoot this.

[2019-12-09 23:36] integrii opened #279 "Flat specs do not include CRD information"
**Describe the bug**
Our flat spec files do not include the namespace or CRD definitions.

**Steps To Reproduce**
- Confirm that custom resource definitions are available in the `crds` directory in the helm chart
- Use helm 3 to run `helm template` on our chart
- Notice specs are not present

**Expected behavior**
CRD definitions should be in the output YAML

**Additional context**
It looks like H

[2019-12-10 22:12] integrii opened #280 "Add optional filter to json status page"
It would be great to specify a namespace on the json status page in order to easily filter the output of checks.

This would allow developers to share the json status page gracefully instead of having the global `OK` bool flipped whenever anyone's check in the entire cluster goes down.

[2019-12-10 22:13] joshulyne opened #281 "Add check run duration metric to khstate"
Add another metric to Kuberhealthy in KHStates: check duration -- how long the check took to run (success of failure)

[2019-12-17 01:21] integrii opened #285 "daemonset checker errors out due to log names but reports success"
**Describe the bug**
The daemonset checker pod can error out and *not* reflect an error as shown here:

[code]

**Expected behavior**
The daemonset checker should exit 1 if it encounters an error that is due to broken functionality (not a check failure) and should never report success after a failure.

**Versions**
 - Kuberhealthy Release or build: 2.0.0
- depeloyment checkimage: quay.io/comcast/k

[2019-12-17 09:27] joshulyne commented on #285
The cluster was using the wrong daemonset check version (1.0.0 instead or 2.0.0). Fixed!

[2019-12-17 09:27] #285 closed

[2019-12-17 09:32] fengzixu opened #286 "It is unfriendly for new users"
**Describe the bug**

First of all,  if I want to use this link (kubectl apply -f https://raw.githubusercontent.com/Comcast/kuberhealthy/deploy/kuberhealthy.yaml) to deploy the kuberhealthy, I got the 404 error. Because there is no master path in the url.

error: unable to read URL "https://raw.githubusercontent.com/Comcast/kuberhealthy/deploy/kuberhealthy.yaml", server reported 404 Not Found, sta

[2019-12-18 18:56] #280 closed

[2019-12-18 18:57] jonnydawg commented on #286
Thanks for bringing this up!

Seems like there is an issue with Helm templating CRDs.

[2019-12-20 00:41] joshulyne commented on #265
Issue addressed in version 2.1.0rc1

[2019-12-20 00:41] #265 closed

[2020-01-06 23:18] integrii commented on #286
With the PR I just opened and the fixes in the 2.1 branch for CRDs (as described in #279), both of these issues should be fixed.

Thank you for taking the time to make an issue for this.  We really appreciate the feedback.

[2020-01-08 20:42] integrii commented on #279
This is "fixed" by using the new bash scripts for generating a static manifest, but I am leaving this issue open so we remember to clean these bash fixes up after Helm makes their fix and starts outputting CRDs in `helm template`.

[2020-01-08 20:44] integrii opened #288 "Publish Kuberhealthy as a Helm Repository"
The process of updating our Helm chart is slow and cumbersome.  It often takes us longer to update the chart than it does to add a new feature and modify our templates.  This means our Helm installation is almost always out of date.

As suggested by @davidkarlsen [here](https://github.com/helm/charts/pull/18899#issuecomment-571386038), we should revisit having our own repository added as a Helm re

[2020-01-09 00:11] davidkarlsen commented on #288
Do you have a repo already? We have some github actions to facilitate testing and releasing charts using github-pages as chart repo.

[2020-01-09 00:50] #281 closed

[2020-01-09 00:51] #256 closed

[2020-01-09 00:51] #274 closed

[2020-01-13 19:24] stenwt opened #291 "DaemonSetChecker references deprecated API endpoints"
**Describe the bug**
As of k8s 1.16, the extensions/v1beta1 endpoint is deprecated and removed for daemonsets (among others): https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/ . Since the Kuberhealthy daemonset checker uses that endpoing, daemonsets can't be deployed on K8s 1.16+.

**Steps To Reproduce**
Deploy kuberhealthy to k8s 1.16+
Daemonset checker fails with a message ending,

[2020-01-13 19:35] integrii commented on #291
Thanks @stenwt!  I really appreciate you following up with the PR to fix this.

I will test your PR today.  My only concern is backwards compatibility.  Currently, Kuberhealthy accepts back to as far as 1.9 (but obviously not to 1.16) so I want to be careful before I orphan existing users with a new release.

[2020-01-14 00:32] #291 closed

[2020-01-16 07:27] amarAkula opened #292 "While deploying kuberhealthy yaml file, I encountered an issue saying unable to recognize "kuberhealthy.yaml": no matches for kind "KuberhealthyCheck" in version "comcast.github.io/v1"."
Description-
poddisruptionbudget.policy/kuberhealthy-pdb created
serviceaccount/daemonset-khcheck created
serviceaccount/deployment-sa created
serviceaccount/kuberhealthy created
clusterrole.rbac.authorization.k8s.io/kuberhealthy created
clusterrolebinding.rbac.authorization.k8s.io/kuberhealthy created
role.rbac.authorization.k8s.io/ds-admin created
role.rbac.authorization.k8s.io/deployment-servic

[2020-01-17 21:37] gWOLF3 commented on #292
same here - related to this?

[code]

[2020-01-20 21:39] mtougeron commented on #279
I'm attempting to solve this via https://github.com/helm/helm/pull/7440 (1st contrib so we'll see...)

[2020-01-21 05:56] amarAkula commented on #292
Thanks, I have deployed the crds.
After deploying the yaml files in deploy folder iam seeing this.
poddisruptionbudget.policy/kuberhealthy-pdb created
configmap/kuberhealthy created
serviceaccount/daemonset-khcheck created
serviceaccount/deployment-sa created
serviceaccount/kuberhealthy created
clusterrole.rbac.authorization.k8s.io/kuberhealthy created
clusterrolebinding.rbac.authorization.k8s.io/

[2020-01-24 04:42] integrii commented on #279
Good luck @mtougeron !

[2020-01-24 04:46] integrii commented on #292
There are a couple things going on here.  First, the metadata for `namespace` is not coming along in all objects, causing permissions issues from incorrect service accounts and roles and such.  Secondly, there was issue #279 which resulted in a bug from Helm wherein CRDs were not output when using `helm template`.

In response to some talk on Slack today, I have been modifying (along with @rukatm)

[2020-01-24 04:48] integrii commented on #288
We haven't yet done this one... We have not filed a PR with `helm/hub` to have our repo listed as a repository yet.

The current helm chart we are developing against is [here](https://github.com/Comcast/kuberhealthy/tree/2.1/deploy/helm).

[2020-01-26 20:25] cagdascirit opened #293 "Kuberhealthy memory leak"
**Describe the bug**
Kuberhealty master pod is leaking memory and when it hit its limit value it is being killed. Kuberhealthy follower pods are not suffering from this issue. This can be related to khc->podcreation->khsupdate cycle.

**Steps To Reproduce**
- Deploy kuberhealty deployment (with at least one replica) and khc objects
- Put 12 external healthchecks (for us it is 13 in total with dns-

[2020-01-27 17:09] integrii commented on #293
Whoa!  Thanks for reporting this.  I can't repro in any of our clusters.  We get charts like this:
![image](https://user-images.githubusercontent.com/98695/73196591-b749a700-40e4-11ea-9e45-a3e71174a338.png)

Can you paste me your `khcheck` definitions?  Do you see any errors at the console of either of the Kuberhealthy pods showing a memory leak?

[2020-01-27 17:40] integrii opened #294 "Prometheus metrics missing newlines"
[code]

There needs to be some newlines in ther e it looks like.

[2020-01-27 19:43] integrii commented on #111
this is being superseded by #288

[2020-01-27 19:43] #111 closed

[2020-01-27 19:46] #294 closed

[2020-01-27 19:48] #286 closed

[2020-01-27 19:50] integrii commented on #279
closing this. we will open a new issue if this impacts use

[2020-01-27 19:50] #279 closed

[2020-01-27 19:52] integrii commented on #44
this one is now obsolete considering the `khcheck` pattern where `khcheck` resources are created in namespaces wherein checks should run

[2020-01-27 19:52] #44 closed

[2020-01-27 19:53] integrii commented on #11
update: we now have a deployment checker but do not yet have a specific service checker (or ingress checker)

[2020-01-27 19:54] integrii commented on #244
@jonnydawg wasn't this fixed?  If so, close this one.

[2020-01-27 19:54] integrii commented on #292
I think this issue has been resolved after conversation in Slack over the past couple weeks.  Please let me know if that is not the case.

[2020-01-27 19:54] #292 closed

[2020-01-29 00:47] cagdascirit commented on #293
"Do you see any errors at the console of either of the Kuberhealthy pods showing a memory leak?"
No, only some warnings like below on leader and follower pods:

[2020-01-29 01:05] cagdascirit commented on #293
We have in total of 13 khchecks deployed. Your grafana screenshot window is too short to judge if there is a leak or not. But what I understand from your statements that on your clusters memory usage is consistent even in bigger time windows right? weird..

[2020-01-29 19:06] jonnydawg commented on #244
No, this still utilizes Lambdas

[2020-01-29 21:58] integrii commented on #288
removing this from readme

[code]

[2020-01-30 03:32] integrii commented on #293
I realized after posting that my chart was indeed worthless.  Here is a better one for proofsies.

![image](https://user-images.githubusercontent.com/98695/73417586-71036c00-42cd-11ea-9433-110ba1057bcb.png)

However, while looking for a bad pod, I did find one with a memory leak!

![image](https://user-images.githubusercontent.com/98695/73417721-f8e97600-42cd-11ea-924b-e88e93300200.png)

I am goin

[2020-01-30 11:00] cagdascirit commented on #293
Better limit your kuberhealthy pod memory usage like we are doing :D

[2020-02-06 11:20] janavenkat opened #300 "DaemonSetChecker is failing"
**Describe the bug**
DaemonSetChecker is failing because of insufficient permission for the user

**Steps To Reproduce**
Apply the YAML from v2.1.0
Check DaemonSetChecker pod logs

**Expected behavior**
insufficient permission for the user

**Screenshots**

<img width="748" alt="Screenshot 2020-02-06 at 12 15 31" src="https://user-images.githubusercontent.com/28565699/73932513-cbf31f80-48da-11ea-9

[2020-02-06 16:15] integrii commented on #300
Hey there.  What specs did you use to apply your checks.  Were there any errors when that happened?

It looks like the daemonset checker pod can't fetch a list of pods using its service account.

[2020-02-06 16:27] janavenkat commented on #300
I just used this https://raw.githubusercontent.com/Comcast/kuberhealthy/master/deploy/kuberhealthy.yaml

yes

[2020-02-06 16:41] integrii commented on #300
I see.  The only question is how long ago you applied that spec, then.  What KH image are you running?  `kubectl get deployment kuberhealthy -n kuberhealthy -o yaml | grep image:`

I just want to make sure this isn't a problem with our specs for some people.  I know that you can fix the issue by adding a new role binding for the daemonset checker service account.

[2020-02-06 17:56] cagdascirit commented on #293
Any update on this @integrii ?

[2020-02-07 01:01] integrii commented on #293
I see a memory leaking pod, but nothing very obvious yet.  It seems like it may be a kubernetes API object watcher?

![image](https://user-images.githubusercontent.com/98695/73991714-dd035700-4901-11ea-8c85-93ab31446c6e.png)

![image](https://user-images.githubusercontent.com/98695/73991864-4aaf8300-4902-11ea-8d60-6b15735db18a.png)

Perhaps a watch is being started somewhere and never stopped?

[2020-02-07 01:04] integrii commented on #293
If you want to run the debug version, the image is: `quay.io/comcast/kuberhealthy:2.1.0-pprof`.

To get the above reports, I port-forwarded like this:

`kubectl port-forward pod/kuberhealthy-6d4ccbc4bd-hqnzk -n kuberhealthy 8080`

Then, I opened the pprof viewer locally like this:

`go tool pprof -http localhost:8081 "http://localhost:8080/debug/pprof/heap"`

[2020-02-07 11:19] janavenkat commented on #300
image: quay.io/comcast/kuberhealthy:2.1.0

Yes, I can do the role binding for my own but why it's not working for default?

[2020-02-07 18:19] cagdascirit commented on #293
OK. We will try to use the debug version and I will share the results here

[2020-02-10 16:38] integrii opened #301 "Deployment check can roll more pods than it thinks it has"
[code]
should stop at:
[code]

**Versions**
 - Deployment Check 1.1.0

[2020-02-10 16:39] integrii commented on #197
closing in favor of #222

[2020-02-10 16:39] #197 closed

[2020-02-10 22:38] integrii opened #302 "Deployment check eviction failure and duplicate service names"
Each deployment check needs to use a unique service name.  Consider just appending the unix time.

[2020-02-10 22:45] integrii opened #303 "Kuberhealthy service account can't evict pods"
Here are the logs from kuberhealthy wherein it was unable to evict pods:

[code]

[2020-02-10 22:46] integrii commented on #301
i think this is due to #303.  Because the eviction fails, two deployments spin up and fight over services (#302).  That results in the incorrect pod count here.

[2020-02-11 07:53] cagdascirit commented on #293
Hi @integrii we have used debug container and generated memory usage report with pprof. Exact same results with you. Highly probable that k8s Watch() operation is leaking, there must be somewhere or multiple places watcher.Stop() resource release operation is missing..

[2020-02-11 09:02] janavenkat commented on #300
@integrii I see that there is already  service account for daemonset checker

[2020-02-12 10:29] vishalud commented on #300
I've ran into the same issue as mentioned above

[code]

[2020-02-14 00:42] integrii opened #307 "Can not build check client with go modules"
Go modules are throwing a confusing error when you try to build using our checkClient package.  The error is:

[code]

[2020-02-14 00:42] integrii commented on #307
It looks like the cause of this is that the package name was `checkclient` and the directory is `checkClient`.

[2020-02-14 01:14] integrii commented on #307
Despite a few tries to fix this, all builds are broken as of now.

[code]

[2020-02-14 03:43] integrii commented on #307
The golang site recommends that modules of `v2` and above be placed in a `v2` folder.  This would make our project really messy.  I will continue research on this.

[2020-02-17 23:33] integrii commented on #307
Fixed in release v2.1.2.  Please remember to import using the new `v2` paths like this:
`github.com/Comcast/kuberhealthy/v2/pkg/checks/external/checkClient`

[2020-02-17 23:33] #307 closed

[2020-02-19 00:09] #303 closed

[2020-02-19 01:09] integrii commented on #293
I just searched for instances in the main kuberhealthy binary where a watch was started and ensured that things are properly closed (see commit 76c296c linked to this).  It looks like this may have been from the master status monitor never ending it's watch...  I will search other packages for more instances of watches that could be leaking as well.

[2020-02-20 19:45] zeleena commented on #300
Can we reopen this? Unfortunately the change in #305  does not work for me.

The daemonset checker still has insufficient permissions, but incorrectly reports "success" to the status page. So it "appears" to work, but logs indicate the resources were never created/deleted because of insufficient permissions on the `kuberhealthy-daemonset-khcheck` ClusterRole.

Here are the logs:
![kuberhealthy-dae

[2020-02-20 19:45] integrii commented on #293
I found one more call to `Done()` that was missing, but I think this may be the root cause... see PR #317

[2020-02-20 20:19] integrii commented on #300
Thanks for bringing this up and trying out the new fixes.

Are you running your daemonset checker in the `kuberhealthy` namespace?  The RBAC in our spec files describe a `ds-admin` role in the `kuberhealthy` namespace which is attached to the daemonset checker.  That `ds-admin` role has the permissions you describe on it and should be set in your `khcheck` as the service account for the daemonset

[2020-02-20 21:00] zeleena commented on #300
Yes, the daemonset checker in running in the `kuberhealthy` namespace.

Thanks for pointing out the `ds-admin` role. Then, I believe the issue/fix is that on [Line 216](https://github.com/Comcast/kuberhealthy/blob/master/deploy/kuberhealthy.yaml#L216) the apiGroup should be `apps`, not `app`.

I just made this change locally and it worked for me (the logs reflected going through a successful daemo

[2020-02-21 04:41] integrii commented on #300
I just submitted PR #318 for fixing that typo you called out...

[2020-02-23 21:42] cagdascirit commented on #293
I have cherry-picked #317 commits on our v2.1.0 but the result is still the same : (

[2020-02-24 21:00] zeleena opened #322 "Set khcheck environment variables in Helm chart"
**Set khcheck environment variables in the Helm chart**
As per the READMEs (i.e. https://github.com/Comcast/kuberhealthy/tree/master/cmd/deployment-check), there are many configurable environment variables for the khchecks. However, with the current helm chart in this repo, there is no way to set these environment variables in the values file nor from the helm chart template (https://github.com/Co

[2020-02-25 14:26] strigazi commented on #278
I am giving this a go:
https://github.com/postfinance/kubenurse

[2020-02-25 17:00] zeleena opened #325 "Pod Status Check has insufficient permissions"
**Describe the bug**
After deploying the helm chart from this repo and enabling the pod status check in the values file, the pod status check returns error:
`"pods is forbidden: User \"system:serviceaccount:kuberhealthy:default\" cannot list resource \"pods\" in API group \"\" in the namespace \"kuberhealthy\""`

**Steps To Reproduce**
- Deploy the helm chart from this repo into the kuberhealthy n

[2020-02-25 23:52] integrii opened #327 "Flat file spec automatic generation"
We can use github actions to regenerate our flat file specs automatically when the helm chart changes.

[2020-02-27 02:20] integrii commented on #327
first automatic flat file generation in PR #331 !

[2020-03-01 10:28] omerlh opened #333 "Least privilege permissions for reaper"
**Describe the feature you would like and why you want it**
Reaper cron job currently needs admin permissions on the cluster, and for example, try to list pods at the cluster scope. This is very sensitive permission to grant for this job, I wish to limit it to a namespace scope. I did that manually for kuberhealthy itself by changing the RBAC roles, but for reaper, it requires code change.

[2020-03-01 11:23] omerlh opened #334 "Deployment check failed to report status"
**Describe the bug**
 level=fatal msg="error reporting to kuberhealthy: bad status code from kuberhealthy status reporting url: %!s(int=400)%!(EXTRA string=400 Bad Request)"

**Steps To Reproduce**
- Create a deployment check that failed (e.g. with missing RBAC permissions)

[code]

**Expected behavior**
The check is able to report the status on failure

**Versions**
 - Kubernetes Version: 1.14
 -

[2020-03-02 16:23] integrii commented on #334
The 400 comes from the Kuberhealthy server.  Each time a pod reports status back to Kuberhealthy, the Kuberhealthy server inspects the calling IP and then attempts to look it up using the Kubernetes API.
 This error in your issue may be because the server is unable to validate the calling pod and thus returns 400 to it.

Can you check the Kuberhealthy server master (the one that is alphabetically

[2020-03-02 16:59] integrii commented on #333
Thanks for reporting this.  Because Kuberhealthy is a cluster-wide operator that may be making checks in any namespace, the reaper also tries to look for things to delete in all namespaces. If that is not the desired behavior, then I suggest the following:

- identify the code path (api calls) that won't work without cluster-wide bindings
- create an alternate code path path that works when you on

[2020-03-03 07:25] omerlh commented on #334
It's probably something I screw up with permissions (see #333) - I created the permissions manually, and there is probably something missing.

[2020-03-03 07:25] #334 closed

[2020-03-03 23:01] #300 closed

[2020-03-06 23:25] integrii commented on #333
looks like the fix PR was merged - we just need to push the image somewhere, then set it in the helm chart's spec for the reaper and let the bot regen the flat files...

[2020-03-09 18:25] joshulyne commented on #333
Addressed with pr #340 and #338

[2020-03-09 18:25] #333 closed

[2020-03-09 18:31] #327 closed

[2020-03-09 18:36] integrii commented on #325
This probably needs another test using the helm chart in `deploy/helm` because several things have changed in the chart since this issue was reported...

[2020-03-10 18:36] integrii commented on #322
You fixed your own issue!  Badass.

[2020-03-10 18:36] #322 closed

[2020-03-11 00:23] integrii opened #343 "Move jdowni000/http-content-check:v1.1.1 to docker hub"
This can't be done until we are done moving images to `comcast/kuberhealthy`, but we should put the image in the official image location alongside everything else.

[2020-03-11 00:26] integrii opened #344 "Move Makefile commands for checks into their cmd directories"
We should break up the massive and growing Makefile in the main of the repository into smaller Makefiles that live in the specific directories where our check code is.

It would also be a good time to move the various Dockerfiles into the specific `cmd` directories as well.  This means our commands would change to a `.` build context in docker to one that points back to the root of the repository

[2020-03-11 16:20] jdowni000 commented on #343
sounds like a good idea. Let me know when you want this done and I will move the image

[2020-03-11 21:03] integrii opened #347 "Implement Clair into all github action builds"
We should run the following tool on all of our Dockerfiles and fix any issues it reports:

https://github.com/docker/docker-bench-security

[2020-03-11 21:44] integrii commented on #344
Looks like this broke builds.

https://github.com/Comcast/kuberhealthy/runs/501798945

We need to refactor the github actions config in the `.github` directory so that it builds from the `cmd/kuberhealthy` directory now instead of the root of the project.

[2020-03-11 21:45] integrii commented on #344
relevant github actions config yaml: https://github.com/Comcast/kuberhealthy/blob/master/.github/workflows/build-latest-docker.yml

[2020-03-11 21:49] integrii opened #348 "Move all checks and images to Comcast docker hub"
We need to add new github actions for automatically building and pushing all checks to the new comcast docker hub registry here: https://hub.docker.com/orgs/comcast

Each image needs to have a disclaimer posted on it:

[code]

[2020-03-11 21:50] integrii commented on #343
replaced by #348

[2020-03-11 21:50] #343 closed

[2020-03-11 21:59] integrii opened #349 "Ensure no images are using alpine"
Alpine is not available for us to use because it includes busybox, which has licensing issues.  We need to make sure that all our Dockerfiles are using approved images only.  Currently, these images are:

- debian
- scratch
- golang (tags based on debian only)

It is okay for us to build with other images, but we must ship with compatible images.

[2020-03-12 17:16] integrii opened #351 "Include node that checks ran on in `khstate` data"
It would be really nice if the node that checks ran on was placed into the status JSON.  This way we could programmatically find out which node ran the checker pod easily.

Currently, the only way to tell where a check ran is to check the node assignment on the checker pod with `kubectl`.

[2020-03-12 17:37] integrii opened #353 "Possible race between khstate and checks reporting in"
It may be that we have a race condition wherein checks are able to report in before the `khstate` for them reflects their current run IDs.  This results in the check being served a `400` because it does not appear to have the correct check run id.

This screen shot has some more brain storming
![image](https://user-images.githubusercontent.com/98695/76473822-e6775780-63b6-11ea-9865-fcbef338c047.pn

[2020-03-12 20:30] integrii opened #354 "Rename all checks to lowercase names with dashes"
We need to rename our checks to be compatible with docker image names. This involves renaming the directory in `/cmd`, the image name being produced (in the `Makefile`) and finally the related github action.  We should also be sure to adjust the `README.md` for each check as well as the information in the `CHECKS_REGISTRY.md` file in `docs/`

- [x] `daemonSetCheck` -> `daemonset-check`
- [x] `dnsS

[2020-03-12 20:42] integrii commented on #348
Looks like these are going to go to `https://hub.docker.com/u/kuberhealthy`

[2020-03-13 23:12] #349 closed

[2020-03-13 23:13] integrii commented on #348
before this is completed, we need to validate all docker hub check images work and then appropriately update the helm chart for them.

[2020-03-13 23:14] integrii opened #358 "Fix Makefile Docker Tags"
We need our images to push to kuberhealthy on docker hub (where the github actions point) but the makefiles are still pointing to quay.io.  Someone should go over each Makefile and adjust the tag to be `kuberhealthy/image-name:`

[2020-03-15 02:31] #358 closed

[2020-03-16 15:00] NissesSenap opened #361 "service account missing in deployment-check"
**Describe the feature you would like and why you want it**
I need the possibility to add a service account to the deployment that that deployment-check creates through the khchecks.comcast.github.io deployment or something similar.

**Additional context**
I'm using openshift and due to the extra security context i need to be able to set a service account that got the possibility to create contain

[2020-03-16 19:25] jonnydawg commented on #361
Thanks for the work! Your PR was merged :)

[2020-03-16 19:25] #361 closed

[2020-03-17 07:45] NissesSenap opened #366 "ownerReferences added to all object"
**Describe the feature you would like and why you want it**
Would love to see ownerReferences in all objects that is created by the kuberhealthy crd:s to make it easier to track what creates what and where to debug for new users.

**Additional context**
This is standard within k8s itself, for example see the check-reaper pod, you will see a ownerReference to the job object.

I think this will take

[2020-03-17 10:18] cagiti opened #367 "Kuberhealthy daemonset pods fail to get cleared up"
**Describe the bug**
We've noticed that kuberhealthy pods are failing to be cleared up after their use. The logs show:
[code]

**Steps To Reproduce**
- Long running kuberhealthy instance it seems (some of ours have been running more that 30d

**Expected behavior**
Pods created by kuberhealthy are removed once they have completed their task

**Versions**
 - Kubernetes Version: v1.15.8-gke.3, v1.13.

[2020-03-17 17:55] joshulyne commented on #367
Hmm, seems like you are using an older version of Kuberhealthy. We've recently made a lot of changes with out 2.0.0 release -- making Kuberhealthy an operator for synthetic monitoring, giving devs the ability to add more synthetic checks easily -- and we also made more changes with our latest 2.1 release as well (this actually keeps checker pods around a bit longer so folks have more time to diagn

[2020-03-17 18:54] joshulyne commented on #366
Hmm I believe in the checker pods, we have `kuberhealthy_check_name=pod-status` which is referencing the khcheck crd `pod-status` -- is this what you're referencing?

[2020-03-17 18:58] joshulyne commented on #354
can we make sure to add in our [external checks doc](https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECKS.md)
that we have this standard naming convention if people are interested in contributing checks?

[2020-03-17 22:12] integrii commented on #366
I think @NissesSenap means he wants us to implement [owner reference metadata](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#ownerreference-v1-meta).  I think this is a good idea to do!  Perhaps good for a first time contributor?

[2020-03-18 00:33] integrii opened #372 "Refactor test-external-check docs"
https://github.com/Comcast/kuberhealthy/tree/master/cmd/test-external-check

The docs for test-external-check talk about applying the KH 2.0.0 CRD.  This is a given these days but will still confuse people.  We should refactor the test docs to make more sense.

[2020-03-18 00:34] integrii commented on #354
added to main description as a checkbox

[2020-03-19 00:06] integrii opened #373 "Latest kuberhealthy image from docker hub has blank status page"
The status page on the latest Kuberhealthy build `:latest` has a blank `khstate` page.

It appears to be unable to use its reflector for `khstate` resources:

[code]

[2020-03-19 17:49] jonnydawg commented on #237
new doc should be at:
https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECK_CREATION.md

[2020-03-20 18:56] jonnydawg commented on #237
Also looking at OAS for this for clients in multiple languages

[2020-03-23 18:37] chadbitzer commented on #288
Working on this, index.yaml and .tgz file have been added and submitted in PR for master.  Next will be push master to gh-pages branch, then add relevant data to Helm Project's config/repo-values.yaml & repos.yaml, and submit PR to have those additions merged.

[2020-03-23 21:30] integrii commented on #367
@cagiti could you try installing one of the flat file specs [here](https://github.com/Comcast/kuberhealthy/tree/master/deploy) to update to Kuberhealthy 2.1?  You can also use the helm chart provided there if you prefer.

[2020-03-23 21:31] integrii commented on #373
Looks like the reflector for `khstate` is having issues with the `khstate` crd code.  This code changed somewhat recently in K8s so we need a reintegration when it comes to declaring the CRD's codec and listing abilities.

[2020-03-23 21:31] #344 closed

[2020-03-23 21:35] integrii opened #380 "Add new CHECK_START_TIME environment variable to checker pods"
Checker pods spin up sometimes a while after Kuberhealthy spawns them.  Because of this, the checker pod does not know how much time it has before it should consider its self "timed out".  To fix this, we need to ensure that all checker pods are given an environment variable that has a unix timestamp for when Kuberhealthy spawned the pod.

We should write this timestamp at the same time that we wr

[2020-03-23 23:38] integrii opened #381 "Document how to calculate synthetic uptime with PromQL"
[code]

This query makes it possible to formulate a 30 day uptime percentage.  We should document this for our users so that they can use it with their own synthetic checks easily.  It would be good to throw some other clever query examples in there as well.  We currently do da poor job of even listing the metrics prefix Kuberhealthy uses.

[2020-03-25 22:13] integrii commented on #288
In response to the PR open for this in #379 ... I think we need to refactor in the following way:

- Create a new `helm-repos` directory at the project root
- Create a new `helm-repos/kuberhealthy` directory and place a tar file in it as gerated from `helm package`
- Create a new `helm-repos/index.yml` file using the [example here](https://github.com/microsoft/charts/blob/master/repo/index.yaml).

[2020-03-26 01:04] chadbitzer commented on #288
PR #379 ready for review to merge into master

[2020-03-26 20:48] rukatm opened #390 "Daemonset check should not report 'Success' if RBAC fails"
**Describe the bug**
Daemonset checks should not report "Success" to Kuberhealthy servers when RBAC specs are not valid.

**Steps To Reproduce**
- Set an invalid RBAC spec (in this case, we have an invalid apiGroup in or Role)

[code]

daemonset check pod logs
[code]

**Expected behavior**
When the check encounters a permissions issue, it should report "Failure" to Kuberhealthy servers.

**Version

[2020-03-26 21:20] #380 closed

[2020-03-26 21:22] integrii commented on #380
Instead of doing a check start time, we instead implemented a deadline environment variable named `KH_CHECK_RUN_DEADLINE` that holds a unix timestamp for when the check will time out.  This is more specific than having the check calculate the start time plus timeout duration.

This is documented in the external check creation doc [here](https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTE

[2020-03-27 00:06] integrii commented on #373
current strategy is to look into re-creating our CRD packages with the [operator SDK](https://github.com/operator-framework/operator-sdk)...

[2020-03-27 00:50] cagiti commented on #367
I’ll try upgrading using the chart, thanks for getting back to me 👍

[2020-03-27 11:10] cagiti commented on #367
Where can I find the latest chart version please? I'm using the latest hosted here https://hub.helm.sh/charts/stable/kuberhealthy/1.2.6

[2020-03-27 20:18] chadbitzer commented on #288
Versioning has been corrected to 2.1.0 in PR #379, ready for review.

[2020-03-30 22:55] integrii commented on #347
Looks like this is hard to implement due to the extremely specific on-disk libraries and things required.  It would be much easier to use a tool like [Docker enterprise](https://docs.docker.com/ee/dtr/user/manage-images/scan-images-for-vulnerabilities/) to automatically scan for vulnerabilities.

[2020-03-30 22:58] integrii commented on #347
Looks like we should switch to [Clair](https://github.com/quay/clair/blob/master/Documentation/running-clair.md)...  The task here would be to run a Clair scan on every image produced from our Github Actions builds.

[2020-03-30 23:35] integrii commented on #367
We're just about to finish #288 and you'll be able to use helm 3 to install the chart soon....

If you want to deploy before that, the most current specs would be here: https://github.com/Comcast/kuberhealthy/tree/master/deploy

You should probably use [this file](https://github.com/Comcast/kuberhealthy/blob/master/deploy/kuberhealthy.yaml) if you have a standard Kubernetes deployment.

[2020-03-30 23:37] #354 closed

[2020-03-30 23:49] integrii commented on #353
The check needs added right after the code here: https://github.com/Comcast/kuberhealthy/blob/master/cmd/kuberhealthy/kuberhealthy.go#L1014

[2020-03-31 01:13] #390 closed

[2020-03-31 10:38] PsychoSid opened #395 "Resource Limits"
Hi,

The Resource Limits, and Requests in the deployment checks are hard-coded and are currently failing on my environment and are being OOM killed using the requested nginx pods.

[code]

I am not sure why this is the case. I tried setting a limit range on the namespace but the deployment.go hard codes them and they are not configurable as far as I can tell.

Is there a way to amend this in confi

[2020-03-31 16:39] joshulyne commented on #395
Hi @PsychoSid!
That's interesting, I don't think we've ever run into that issue yet. It's possible, as we set default resource limits here in the code:  https://github.com/Comcast/kuberhealthy/blob/master/cmd/deployment-check/deployment.go#L45 and we can replace that with env vars so its more configurable on the [deployment-check.yaml](https://github.com/Comcast/kuberhealthy/blob/master/cmd/deploy

[2020-03-31 16:39] 2infinitee commented on #372
added notes to the doc

https://github.com/Comcast/kuberhealthy/blob/ext-check-doc/cmd/test-external-check/README.md

[2020-03-31 16:49] jonnydawg commented on #395
Interesting -- the resource limits and requests are set to be hard-coded. @joshulyne I think you are right, I think the best way about this is probably parsing some env vars and then passing it over to the nginx container limits and requests.

I can look into making this change later today.

[2020-03-31 18:30] integrii commented on #288
This is blocked because Helm throws an error that the namespace does not exist, even though a `namespace` template exists in the chart.  Helm has merged a PR to add a new `--create-namespace` flag that will fix this, but stable released versions do not yet have the functionality.

We need to figure out how to make `helm install` properly create a namespace and apply the chart without errors...

[2020-03-31 18:43] rukatm commented on #395
@PsychoSid -  Could it be that the OOM killer is acting aggressively when these deployment pods are scheduled on nodes that are already under heavy memory pressure?

[2020-03-31 19:03] PsychoSid commented on #395
Thanks all for looking into this. Yes it’s likely that more usage on these is causing it. They are small clusters whilst we do some testing for Anthos.

[2020-04-01 05:01] 2infinitee commented on #372
doc has been merged

[2020-04-01 05:01] #372 closed

[2020-04-01 10:11] davidkarlsen opened #400 "use securitycontext with the *-check pods"
**Describe the feature you would like and why you want it**
The checker pods fails our pod security policy because they run as priv. user.

**Additional context**
[code]

[2020-04-01 18:41] jonnydawg commented on #237
This has been created, but the client is intermittently posting status.

![image](https://user-images.githubusercontent.com/12464614/78174203-be0ad800-740d-11ea-9e1f-c273933634bd.png)

[2020-04-01 18:42] jonnydawg commented on #237
Going to take a look at async / Promises

[2020-04-01 19:03] integrii commented on #348
this is done!

[2020-04-01 19:03] #348 closed

[2020-04-01 19:04] integrii commented on #288
This is done!  @chadbitzer figured out that we needed to remove our `namespace` spec to be compatible with Helm 3.

[2020-04-01 19:04] #288 closed

[2020-04-01 19:04] #301 closed

[2020-04-01 19:06] integrii commented on #325
Hey @zeleena - we just rolled out a new chart for installation with Helm 3.  Check [this out](https://github.com/Comcast/kuberhealthy#installation) from our updated readme.

Could you give a fresh install a try?  This may fix your issue because the current chart is tested working.  Please re-open the issue if you find this not true.  Thank you!

[2020-04-01 19:06] #325 closed

[2020-04-01 19:09] integrii opened #401 "Add Dockerfile security scanning to all images"
We should ensure that our check `Dockerfiles` are built with best practices in mind.  Now that we have moved our builds to github actions, this should be easy enough to implement.

This would hopefully identify the issue brought up in #400 and cause us to fix the problem.

[2020-04-01 19:11] integrii opened #402 "Move all Docker images away from the root user"
All of our checker containers are running as root.  This breaks users as described in #400.  This also should be identified by the Dockerfile scanner we are adding in $401.

This issue is to track the progress of moving all images to use non-root user IDs.

[2020-04-01 19:14] integrii commented on #400
Hey @davidkarlsen!  Thanks for reporting in.  We finally got Kuberhealthy listed as a private repository and people can use `helm install` again.  Glad to see you still around the project.

@jdowni000 is working on adding security scans for Dockerfiles in issue #401 (already in progress but no issue existed).  I also created issue #402 to explicitly track the migration of all images to non-root us

[2020-04-01 22:14] davidkarlsen commented on #400
please note that securityContext != securityScan.
The securityContext controls the UID of the process and would fix the issue I reported. Also I can recommend running the container with securityContext. readOnlyRootFilesystem: https://kubernetes.io/blog/2016/08/security-best-practices-kubernetes-deployment/

[2020-04-03 18:34] Razaa007 opened #404 "How CoronaVirus Threats to IT?"
[https://www.healthpoints.xyz](url)

[2020-04-03 18:42] #404 closed

[2020-04-03 21:40] jdowni000 commented on #402
i have updated each check to run the binary from a new user named user. PR has been submitted

[2020-04-06 09:23] NissesSenap commented on #400
As a happy OpenShift (OCP) user I thought i would add some extra input, was just going to create a issue about this.
Currently in daemonset-check we have 	runAsUser := int64(1000)
This creates issues in OCP:

Error creating: pods "ds-check-daemonset-1586161692-1586161705-" is forbidden: unable to validate against any security context constraint: [spec.containers[0].securityContext.securityContext.

[2020-04-06 09:29] davidkarlsen commented on #400
as long as it's in a section in the values.yaml the end-user can easily set it to the configuration they want.

[2020-04-06 18:36] Razaa007 commented on #404
Travel to the world

https://www.ekwer.xyz/2020/04/vacation.html

On Sat, Apr 4, 2020 at 12:12 AM Jonathan Phan <notifications@github.com>
wrote:

[2020-04-06 23:12] integrii commented on #401
Fixed in #406

[2020-04-06 23:12] #401 closed

[2020-04-06 23:13] integrii commented on #402
Fixed in #406

[2020-04-06 23:13] #402 closed

[2020-04-06 23:42] integrii commented on #400
Oh, I see.  So fixing #401 and #402 were not particularly helpful for fixing this issue.  [It does appear](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod) that kubernetes will always run pods as root, even if the `Dockerfile` that created them specifies a different `USER`.

So then, it seems like the best fix here is to add the followi

[2020-04-07 06:14] NissesSenap commented on #400
Now stuff went a bit to quick.
We should still move away from running containers as pods at least from a OpenShift point of view. To get kuberhealthy to work i currently disable a security policy on a specific service account and I would love not to be forced to do this even if we set a sercuritContext.

Even if you change the sercuritContext and make it harder to break out of the container itself

[2020-04-07 14:28] NissesSenap commented on #400
I haven't thought about this earlier but I hit the issue when i reinstalled one of my clusters.
In OpenShift (OCP) the range on which securityContext.runAsUser is unique per project(namespace) so setting it just creates a bunch of issues because if you don't specify it OCP does it for you.
So now when I hardcoded the runAsUser to 1000670001 it dosen't work im my new ns due to error: Invalid value:

[2020-04-08 13:46] NissesSenap commented on #400
I potentially came up with an idea on how to easily send data to the images we should start without having to rewrite big parts of the kuberhealthy and we can still be backwards compatible.

I think the solution is that we add a feature to all the checks to take a configmap as input that contains a good old pod config. We add the feature in the CRD to take the name of a configmap as input.
That wa

[2020-04-08 19:24] 2infinitee commented on #400
@NissesSenap thanks for the suggestions, I'll take this back to the team and see what inputs they have as well.

[2020-04-13 17:54] NissesSenap opened #411 "testing issue pkg/external"
Hi

After my updates to kuberhealthy/pkg/checks/external/main.go I thought i would see if i could write a test for my addition.

So I did a good old go test ./...
And hit some issues.

basicCheckerPod.yaml is currently pointing to image: integrii/kh-test-check, we should repoint this to "kuberhealthy/test-external-check:v1.2.0" or latest.

When I run the test it starts pod: kh-test-check-158679789

[2020-04-13 18:01] NissesSenap commented on #411
So you don't have to wait for 10 min, this is the output from go test ./... from kuberhealthy/pkg/checks/external

2020/04/13 19:33:24 Loading config from flags...
time="2020-04-13T19:33:24+02:00" level=debug msg="Decoding this YAML: apiVersion: \"comcast.github.io/v1\"\nkind: \"KuberhealthyCheck\"\nmetadata:\n  name: \"kh-test-check\"\n  namespace: \"kuberhealthy\"\n  labels:\n    app: kuberhealt

[2020-04-13 18:29] 2infinitee commented on #411
@NissesSenap I think there was already a issue opened for this and I'm actively working on it as well. https://github.com/Comcast/kuberhealthy/issues/353

[2020-04-13 18:50] NissesSenap commented on #411
That is great!
Tried to search around but apparently but not good enough. Thanks @2infinitee , I will close this one.

[2020-04-13 18:50] #411 closed

[2020-04-15 18:15] #373 closed

[2020-04-15 20:14] sbuvaneshkumar opened #420 "kuberhealthy trying to fetch the image which doesn't exist"
[code]
But we don't have a image with the tag: **v2.1.2** 🤷‍♂️
Reference: https://hub.docker.com/r/kuberhealthy/kuberhealthy/tags

Hence the failure:
[code]

[2020-04-15 21:09] chadbitzer commented on #420
Thank you @sbuvaneshkumar, there is a bug with 2.1.2 and it's not pushing correctly to dockerhub.  We've reverted back to 2.1.0 and I just made the change to gh-pages.  It should replicate out to hub.helm.sh.  In the meantime, you should still be able to specify --version 2.1.0.

[2020-04-16 14:35] chadbitzer commented on #420
Repo has been rolled back to 2.1.0 only.

[2020-04-16 14:35] #420 closed

[2020-04-16 15:42] NissesSenap opened #422 "HELM create variabels runInterval & timeout"
**Describe the feature you would like and why you want it**
To make it easier to configure the different checks in helm it would be nice to have runInterval & timeout as variabels.

[2020-04-17 22:45] joshulyne commented on #367
@cagiti wondering if this is still an issue for you? hoping to close this out if possible!

[2020-04-17 22:47] #353 closed

[2020-04-20 19:42] #422 closed

[2020-04-22 10:35] bavarianbidi opened #431 "allow negative tests"
**Describe the feature you would like and why you want it**

During cluster-provisioning/cluster-updates we trigger some tests in each cluster to verify the applied configuration.

In one of these tests we ensure, that Openstacks metadata-API endpoint isn't reachable from within a `pod`. Therefore we use [goss](https://github.com/aelsabbahy/goss) with this configuration-block:

[code]

We started

[2020-04-22 10:40] cagiti commented on #367
We've not migrated over to Helm3 at the moment, so we'll need to look at moving to using the specs from https://github.com/Comcast/kuberhealthy/tree/master/deploy .

[2020-04-22 18:51] jdowni000 commented on #347
I was able to use third party package call instead of integrating Clair. This has been integrated already into Master branch

[2020-04-22 18:51] #347 closed

[2020-04-22 20:17] #366 closed

[2020-04-23 18:10] integrii commented on #431
Interesting!  Thanks for using Kuberhealthy to validate your clusters.

When you added these checks to Kuberhealthy, I take it that you wrote some go code to run goss, right?

Are you calling ReprtSuccess() using the go client for Kuberhealthy?

If so, you can just invert the logic there. If not, how are you running these tests with kh?  What does your khcheck look like?

[2020-04-23 20:45] bavarianbidi commented on #431
Oh, sorry you got me wrong.

We started with the migration of some tests (previously implemented with goss) to kuberhealthy like "can I resolve this dns record" or "can I reach this remote http endpoint". But on all of these tests we expect a success and it works fine.

But we have some tests, where we don't expect a success like the "metadata-API shouldn't reachable".

Our idea was a flag ( e.g.

[2020-04-23 20:50] integrii commented on #431
Oh, and you're using the check containers we provide?  I see what you mean - you want to use the checks now and be sure that they _dont_ pass.  We could do that by adding a flag that inverts the results of the check.  Which checks would you want this on?  DNS?  HTTP? HTTP content check?

[2020-04-24 03:21] calmkart opened #436 "Serious bug, the main process is blocked"
**Describe the bug**
I create a normal khcheck cr, which will then create khstate cr and check pod. Then check pod will enter pending and ContainerCreating state. Now the problem is coming, when I delete the pod when the check pod is pending or ContainerCreating, the bug appears.

At this time, the main process has been completely blocked. Although it can receive the change event of Khcheck cr, it

[2020-04-24 05:44] calmkart commented on #436
@jonnydawg
i have open a pr to fix the bug and give more information

[2020-04-24 06:22] calmkart opened #439 "generate check pod ownerReference bug && a new way to delete khstate cr and check pod"
**Describe the bug**
https://github.com/Comcast/kuberhealthy/blob/3309e2b740e635f00bcd257c5ba0be5209ddaed2/pkg/checks/external/util/main.go#L18-L35

now, generate a check pod's ownerReference is find the kuberhealhty pod's `os.Hostname()`

but in my cluster, the kuberhealthy pod name is not equal to `os.Hostname` in pod, so it will trigger a bug
https://github.com/Comcast/kuberhealthy/blob/3309e2b

[2020-04-24 06:26] calmkart commented on #439
this issue should add a label `feature request`

[2020-04-24 09:16] NissesSenap opened #440 "pod-restarts Errors: null"
**Describe the bug**
Inconsistency in error message from pod-restarts in khs.

**Steps To Reproduce**
Currently working on creating e2e tests for kuberhealthy.
These logs can be viewed in:
https://github.com/NissesSenap/kuberhealthy/runs/611166285?check_suite_focus=true

In the commit you can also see exactly how the environment looks like.

Clon my fork and use the actions branch.
https://github.

[2020-04-24 09:21] NissesSenap opened #441 "pod-status helm missing SA"
**Describe the bug**
The helm chart is currently missing any definiton of an SA for pod-status
Due to this I get the following error when running the pod-status check.

2020-04-23T07:13:50.5539520Z - apiVersion: comcast.github.io/v1
2020-04-23T07:13:50.5539633Z   kind: KuberhealthyState
2020-04-23T07:13:50.5539717Z   metadata:
2020-04-23T07:13:50.5539978Z     creationTimestamp: "2020-04-23T07:12:5

[2020-04-24 09:51] NissesSenap commented on #439
Dumb question but how do you create a pod that don't got the same hostname as podname?
Is this something that was changed after 1.9.7?
I haven't done anything interesting with such old version of k8s.

I definitely see your point in setting the owner to the khc instead.

[2020-04-24 10:03] calmkart commented on #439
[code]
Why does the hostname of my pod not equal to podname is not so important.

If we want to set the check pod's OwnerReference to kuberhealthy pod, we can get the podname here.

But I really do n’t think it ’s a good idea to set the OwnerReference of the check pod to kuberhealthy pod. Because the controlled object of the check pod should be khcheck cr, it is more reasonable to point to khcheck

[2020-04-24 10:27] NissesSenap commented on #439
No I know it's not important I'm just curios and want to learn something I don't know :)

For sure, the reason why I used the hostname is because it's faster and simpler then talking to the k8s api but I didn't think of this edge case for sure.

I agree with you, let's see what the comcast guys say when they come online.

[2020-04-27 05:40] bavarianbidi commented on #431
https://github.com/Comcast/kuberhealthy/pull/443

[2020-04-28 23:31] integrii opened #446 "Build best practices fix"
It looks like our Dockerfiles broke with a recent PR.  This is because they fail a security check.

[code]

The security check clearly wants `COPY` to be used instead of `ADD`.  We should go to all project `Dockerfile` files and switch `ADD` to `COPY`.

[2020-04-28 23:44] 2infinitee commented on #400
Closing issue. Changes have been merged.

[2020-04-28 23:44] #400 closed

[2020-04-29 01:52] calmkart commented on #436
/close

[2020-04-29 13:13] calmkart opened #447 "Another serious bug, the main process is blocked"
**Describe the bug**
This bug is similar to #439 , but not the same, it is very tricky

How to reproduce this bug
1. create a khcheck cr
2. the khcheck  cr will create a kh check pod
3. if the check pod keep containerCreating (any reason)
4. kuberhealhty pod main process blocked

Please note that although this bug looks similar to #439 , it is completely different. #439  bugs are complicated to tr

[2020-04-29 13:17] calmkart commented on #447
@integrii @jonnydawg
PTAL, thanks.
Looking forward to your reply

[2020-04-29 15:20] calmkart commented on #447
For example, I think that watch.Added / watch.Modified / watch.Deleted does not need to restart all khcheck inspections. Just add a new inspection to the watch.Added event, and clean up the pod / watch.Deleted event. khstate (via ownerReference) will do. It is not that adding a khcheck x requires restarting khcheck abcdefg.
We can change the logic here like this (pseudo code)
[code]
If so, I think

[2020-04-29 22:08] 2infinitee commented on #441
I can take a look at this and get back to you @NissesSenap when I have something.

[2020-04-30 00:46] integrii commented on #447
I really appreciate the very detailed description of this issue and I am very impressed at how closely you have been testing Kuberhealthy.  We are all better for your hard work - thanks!

I think the easiest way to solve this is to wrap the blocking code in `select` logic that makes it time out after some period of time.  If the timeout is reached in the `select` statement, then we force remove al

[2020-04-30 00:50] #436 closed

[2020-04-30 01:08] integrii opened #450 "Document all injected environment variables on checker pods"
We should add `KH_CHECK_RUN_DEADLINE` to [this doc](https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECK_CREATION.md) along with all the other environment variables that are loaded into pods by KH by default.

[2020-04-30 01:33] joshulyne commented on #441
like @NissesSenap we need to add a sa and rolebinding for pod-status check. I believe all it needs is the permission to list pods in ns

[2020-04-30 01:36] joshulyne commented on #440
Similar to pod-status, pod-restarts check needs a sa and rolebinding that gives permssions to list events in ns and get pods in ns. Also, I think the null error message is coming from here: https://github.com/Comcast/kuberhealthy/blob/master/cmd/pod-restarts-check/main.go#L137-L143. We don't pass in the `err` when we create the `errorMessages` that gets reported back to kuberhealthy

[2020-04-30 04:01] calmkart commented on #447
In the modified version, I did this (because in my usage scenario, I will not modify the khcheck configuration, only add and delete two types of operations, so I skipped the modify event, in fact, the modify event triggers the restart of the current check. )

[code]

Setting the timeout in select can indeed fix this bug, but it always feels unnatural. For example, how appropriate is the timeout se

[2020-04-30 08:17] bavarianbidi commented on #450
have to rework PR #443 and could add this in my PR if you want?

[2020-04-30 15:36] jdowni000 commented on #446
I have corrected the Dockerfiles using the security check to utilize `COPY` in place of `ADD` with PR#448

[2020-04-30 15:36] #446 closed

[2020-04-30 17:32] integrii commented on #450
Sure!  Up to you.  I tend not to keep adding into PRs because things go wrong and the extraneous changes get dropped by accident.  More smaller PRs is normally better practice, I think.

Either way is fine here, though.

[2020-04-30 17:48] jonnydawg commented on #395
This has been implemented!

[2020-04-30 17:48] #395 closed

[2020-04-30 19:02] joshulyne opened #453 "Check for null errorMessages when reporting failure back to Kuberhealthy"
In the external checkClient package, we should verify the errorMessage being sent by external checks before reporting the failure back to Kuberhealthy.

[2020-04-30 21:11] integrii commented on #453
Additionally, the handler within Kuberhealthy should intelligently check if a `null` was passed in (after json unmarshalling) and replace the `null` with a `[]string`

[2020-05-01 21:54] jonnydawg commented on #244
Should this be querying and checking the metadata service instead? `"http://169.254.169.254"`

[2020-05-01 22:55] integrii opened #458 "Move gosec to github action instead of inline in Dockerfile"
I also think we should remove the gosec layer from the dockerfile from `cmd/kuberhealthy` and do it via a github action instead.

_Originally posted by @jonnydawg in https://github.com/Comcast/kuberhealthy/pull/455#issuecomment-622582829_

[2020-05-03 22:13] #458 closed

[2020-05-04 05:42] bbhenry opened #460 "Many of the external check registry link are invalid"
Many links from https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECKS_REGISTRY.md are hitting 404 page not found error. Please update the documentation so we can take advantage of those checks. Thanks in advance.

[2020-05-04 17:21] joshulyne commented on #460
@bbhenry thanks for pointing this out! Will make sure to get a fix in for this.

[2020-05-04 21:09] integrii opened #465 "GoSec Fix"
gosec has revealed some errors in master that are causing all builds to break:

[code]

Please fix!

[2020-05-04 21:26] integrii commented on #431
I am going to delegate this feature to individual checks and close this one for now.  If future people who find this issue would like this feature, please reopen with your concerns or reference this in a new issue.

[2020-05-04 21:26] #431 closed

[2020-05-04 23:48] #465 closed

[2020-05-05 00:17] jonnydawg commented on #460
Thanks for bringing this up!

[2020-05-05 00:17] #460 closed

[2020-05-05 06:53] bbhenry opened #466 "Question: why is pod-restarts and pod-status disabled by default in ver. 2"
Migrating from Kuberhealthy 1 to 2, I've noticed that pod-restarts and pod-status are not enabled by default. What's the reasoning behind this change? I've also notice they are missing the `Service Account Name` `podSpec`. I'd get permission errors for the checks because they inherited the `default` Service Account Name in the namespace they were applied.

[2020-05-05 10:07] bbhenry opened #467 "deployment check is fixated to check kuberhealthy namespace"
**Describe the bug**
Deploying kuberhealthy following the helm instruction and set the namespace to ie. `demo`. Installation went fine and all resources were created in the `demo` namespace. But when you check the khstate of `deployment` , you'll see the logs still trying to do the test in kuberhealthy namespace instead of the designated one.

[code]

**Steps To Reproduce**
[code]

**Expected beha

[2020-05-05 16:08] integrii commented on #466
Moving from KH 1 to 2 is a pretty large change.  In v1, Kuberhealthy checks ran as part of the main `kuberhealthy` binary.  In v2, checks are scheduled as their own pods that report back to kuberhealthy over HTTP.  We had to make a lot of changes to code and behavior to pull this off.

If you want to set a `serviceAccountName`, you just need to put it in the `podSpec` section of the `khcheck` (`ku

[2020-05-05 17:39] jonnydawg commented on #467
The deployment check defaults to use the `kuberhealthy` namespace, but can be configured to check a different namespace via environment variable `CHECK_NAMESPACE`. Please check out https://github.com/Comcast/kuberhealthy/blob/master/cmd/deployment-check/README.md.

There currently is not a way to specify this via Helm yet, and I am looking into a fix for that.

[2020-05-05 18:00] jonnydawg commented on #467
It seems like you can add this flag to your `helm` command to modify the `deployment check`'s operating namespace: `--set check.deployment.extraEnvs.CHECK_NAMESPACE=demo`

[code]

[2020-05-05 18:12] jonnydawg commented on #467
After further consideration, maybe the deployment check should default to using the namespace that the CRD lives in.

[2020-05-06 06:04] bbhenry commented on #466
@integrii That's exactly what I did. I've created khcheck manifest files for pod-restarts and pod-status. Like you mentioned, if things are meant to be decoupled from the kuberhealthy core, maybe we should removed all of the checks from helm chart then? Are the pod-status and pod-restarts check now considered stable for V2?

[2020-05-06 06:09] bbhenry commented on #467
@jonnydawg I'll get the environment variable a try, thank you.

CRD is global resource in k8s, did you mean to say RBAC policies? (roles, user, and rolebindings?) I think the deployment check should default to where the RBAC permission is created with helm, in my case, the `demo` namespace.

[2020-05-06 17:30] jonnydawg commented on #467
I was talking about the `khcheck` CRD -- that should be namespaced.

Let me know if that flag works for you!

[2020-05-07 01:07] bbhenry commented on #467
@jonnydawg The `extraEnvs.CHECK_NAMESPACE=demo` worked!
And yes, I do think the check should be defaulted to the namespace the khcheck is being applied.

[2020-05-07 08:01] bavarianbidi commented on #467
hi @bbhenry
i created PR #461 which may solve your problem

[2020-05-07 18:36] jdowni000 commented on #453
submitted PR `https://github.com/Comcast/kuberhealthy/pull/468` to address null error message.

[2020-05-08 07:10] integrii opened #470 "Helm install error"
Installing to a blank cluster using only instructions on the readme gives this:

`helm install kuberhealthy kuberhealthy/kuberhealthy `

[code]

[2020-05-08 08:14] #470 closed

[2020-05-08 11:31] cagdascirit commented on #293
Hi, @integrii do you still see this issue while testing 2.2.0 release candidates (i hope it will be released soon). Do you have any expectation that this issue will be fixed indirectly with other fixes and refactorings introduced for that release?

[2020-05-13 02:47] 2infinitee commented on #453
PR has been merged, closing issue.

[2020-05-13 02:47] #453 closed

[2020-05-13 17:29] zjhans opened #472 "KH_CHECK_RUN_DEADLINE environment variable required in latest test-external-check, but not defined in KH 2.1.0."
**Describe the bug**
Running kuberhealthy/test-external-check:latest crashes test pod. Version requires environment variable KH_CHECK_RUN_DEADLINE which is undefined currently.

Additionally, error message in logs needs formatting fix, spaces are missing around the variable name in the error.

Logs:
2020/05/12 17:27:43 checkClient: ERROR: kuberhealthy check deadline from environment variableKH_CHE

[2020-05-13 17:34] jonnydawg commented on #472
Yes, thanks for noticing this! The test check and deployment check were updated preemptively for the 2.2.0 release.

[2020-05-13 18:04] zjhans opened #473 "Pod eviction only looking for Running pods when cleaning up KH checks, leading to potential memory usage issues."
**Describe the bug**
Pod eviction currently appears to only target pods tagged with a status.phase=Running. This can lead to continuous spawning of pods with a status of ImagePullBackOff or another error state, resulting in a node crash due to resource/memory usage.

Logs:
time="2020-05-12T17:18:17Z" level=info msg="c2f17ef8-f86f-4e7f-9a42-ff045d96a672 kuberhealthy/kh-external-test-check: [evictio

[2020-05-13 21:49] jonnydawg commented on #473
Thanks for bringing this up! There have been reports of memory leaks, but we have not been able to reproduce it.

[2020-05-13 23:21] jonnydawg commented on #472
The update to the test external check should no longer fatal!

[2020-05-13 23:22] jonnydawg commented on #467
This check should, by-default now operate in the same namespace that the `khcheck` lives in!

[2020-05-13 23:23] jonnydawg commented on #450
All the crucial ones are documented (all the ones check implementers should be aware about)

[2020-05-13 23:23] #450 closed

[2020-05-14 08:08] bbhenry commented on #467
Thank you. How long does the change take to make it into the `master` helm chart?

[2020-05-14 12:29] zjhans commented on #473
Original image failed to upload.

![image](https://user-images.githubusercontent.com/55612469/81934462-fbda4f00-95bc-11ea-9a19-62623c3f2fcb.png)

[2020-05-14 16:34] 2infinitee commented on #441
Closing issue, branch has been merged.

[2020-05-14 16:34] #441 closed

[2020-05-14 18:22] integrii opened #477 "Create a check for SSL Validity and expiration"
It would be nice to have a `khcheck` that checks if a certificate is valid and ensures that it has some period of time left before it expires.  This way we could monitor SSL certificate validity and expiration.

Documentation for check creation is [here](https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECK_CREATION.md).

[2020-05-14 23:13] #472 closed

[2020-05-14 23:18] jonnydawg commented on #237
addressed by @gwolf3 in #476

[2020-05-15 01:25] #440 closed

[2020-05-15 18:36] jonnydawg commented on #467
We're waiting to update the chart with our next release -- which should hopefully be soon! There are still some changes and updates that are undergoing testing and review right now!

[2020-05-15 18:43] jonnydawg commented on #237
There is a sample javascript check under the `clients/` directory. Documentation about using a javascript client has been updated to include @gWOLF3 NPM package. [here](https://github.com/Comcast/kuberhealthy/blob/master/docs/EXTERNAL_CHECK_CREATION.md) and [here](https://github.com/Comcast/kuberhealthy/blob/master/clients/js/README.md)

[2020-05-15 22:00] integrii commented on #252
@joshulyne has reminded me that we need to make sure [this readme](https://github.com/Comcast/kuberhealthy/blob/master/docs/FLAGS.md) is updated as part of this PR.

[2020-05-19 00:18] integrii opened #481 "Publish network connection test container"
@bavarianbidi I just pushed `kuberhealthy/network-connection-check:v0.1.0` into place from `kuberhealthy/network-connection-check:latest`.  This issue documents the action.

[2020-05-19 00:18] #481 closed

[2020-05-23 22:39] integrii opened #485 "Installation instructions on README don't work on 1.18"
Just following the installation instructions on the README don't work on Kubernetes 1.18.  This appears to be because the CRD `apiVersion` we are using [has been deprecated](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition).

The error:
[code]

We should come up with a plan to make Kuberhealthy work with newer ve

[2020-05-25 10:23] #278 closed

[2020-05-27 19:14] integrii opened #489 "Grafana support"
It would be great if users could push Kuberhealthy metrics to a grafana endpoint.  This would be in addition to the existing InfluxDB and Prometheus support.

This should be pretty easy... We just need an exporter similar to the influxdb exporter.

[2020-05-30 07:06] bbkgh opened #497 "Helm chart doesn't exists"
Hi. Kuberhealthy helm chart doesn't exists in expected location.

**Steps To Reproduce**
- helm repo add kuberhealthy https://comcast.github.io/kuberhealthy/helm-repos
- helm repo update
- helm fetch kuberhealthy/kuberhealthy
result : Error: Failed to fetch https://comcast.github.io/kuberhealthy/kuberhealthy-2.2.0.tgz : 404 Not Found

[2020-06-01 05:34] chadbitzer commented on #497
@bbkgh this issue is being addressed in pr #499.

[2020-06-01 16:26] chadbitzer commented on #497
@bbkgh this is fixed and tested.
`helm install kuberhealthy kuberhealthy/kuberhealthy`

[2020-06-01 16:27] #497 closed

[2020-06-01 16:55] nstott opened #501 "helm installation broken"
**Describe the bug**
Helm installation instructions do not work

**Steps To Reproduce**
following the helm installation instructions does not work

[code]

If I try the new chart location I can add the repository

[code]

but I am unable to fetch the chart
[code]

**Expected behavior**

everything just works

**Versions**
kube 1.14,
helm 3

[2020-06-01 17:54] integrii commented on #501
This should be fixed now!  A last minute helm chart publish got mixed up and we just fixed it.  Thank you for reporting this.

[2020-06-01 17:54] #501 closed

[2020-06-01 17:55] nstott commented on #501
can confirm, thanks for the quick fix!

[2020-06-11 17:49] mitchellmaler opened #517 "Add priorityClassName to helm chart for kuberhealthy deployment"
**Describe the feature you would like and why you want it**
Currently there is no option to add priorityClassName to the kuberhealthy deployment in the helm chart.

[2020-06-11 18:06] #237 closed

[2020-06-11 18:07] #467 closed

[2020-06-11 18:53] integrii opened #518 "Gracefully handle new node startup race conditions"
It is possible for a checker pod to be scheduled and started on a node before the node is fully ready.  This makes the check instantly fail.  Most commonly, this happens when the checker pod starts before `kube-proxy` has had a chance to apply netfilter rules.

I found [this relevant issue](https://github.com/kubernetes/kubernetes/issues/75890) that describes the issue and shows how some people so

[2020-06-12 21:32] joshulyne commented on #518
For our faster / more frequently run checks, ie dns-resolution-check -- we added a temp fix: #519 to make the check sleep for an extra minute IF the node age is less than 3m. A better fix would be to not just check the node age but also check to see if kube-proxy on that node is ready and running before running the check. This functionality can be a package that other faster / more frequently run

[2020-06-12 21:33] joshulyne commented on #517
@mitchellmaler this should be a simple feature to add! 👍 we'll get on it!

[2020-06-12 23:38] integrii opened #526 "Support Istio"
Currently, Kuberhealthy looks up the calling pod's IP to validate that it is an allowed checker pod.  If the source IP connecting to the check reporting handler is not a valid pod IP, then the lookup will fail and the pods will not be allowed to check in.

This is explained by `nstott` on Slack:

[code]

It seems like a temporary work-around here would be to [disable sidecar injection](https://ist

[2020-06-16 18:43] nstott commented on #526
Out of curiosity, what's the reason for using remoteAddr there?

is it basically to guarantee that the right pod is responding?  we might be able to do the same thing with a unique pre-shared key, between the kh server, and the check pod

[2020-06-16 19:59] mitchellmaler opened #527 "Daemonset Checker container return false error if etcd leader changes during teardown"
**Describe the bug**
When etcd leader changes and the deamonset check pod is removing pods it fails with errors. It's possible this could occur at creation as well but was produced at tear down.

[code]

**Expected behavior**
It to deal with leader changes and just wait a bit to retry waiting for the pods to be cleaned up.  This is a false error since the check actually succeeded.

**Versions**
 -

[2020-06-16 20:20] integrii commented on #527
Interesting.  It does seem like being this sensitive to failures is a double-edged sword.  It feels like we need to think carefully about how we retry API calls and when those failures get turned into an error.

The nature of Kubernetes is to support small faults and failures like this gracefully, so I agree our checks should too.

@joshulyne is currently rewriting the daemonset checker in PR #515

[2020-06-16 20:29] FraBle opened #528 "Support manual trigger for checks"
**Describe the feature you would like and why you want it**
While the current implementation of kuberhealthy supports the continuous validation of K8s components and app, it would be nice to be able to manually trigger a check, e.g. after a deployment of an app to K8s.

**Additional context**
We're currently evaluating to use kuberhealthy for service validations. While there are examples of how to

[2020-06-16 20:39] mitchellmaler commented on #527
I went back in logs and found that this had occurred with the Deployment checker as well.
Image: kuberhealthy/deployment-check:v1.4.4
[code]

[2020-06-16 20:53] joshulyne commented on #527
@mitchellmaler hmm seems like the deployment checker ran into this error during the post-check clean-up phase, after successfully running the check and reporting the check's success to kuberhealthy whereas for the daemonset check, the error occurred during the check run resulting in it reporting the failure to kuberhealthy. however, this error could potentially occur anytime so both checks should

[2020-06-16 22:00] joshulyne commented on #528
@FraBle this seems like a good feature for us to take on! Thinking through the possible implementation and wondering if we should create a new custom resource, like `khjob` and have the check operate like a manually triggered k8s job and ensure that this `khjob` state gets reported back instead of a `khstate`

[2020-06-17 02:57] FraBle commented on #528
Yeah, the use case is pretty close to what a traditional K8s Job does, so reporting back directly to the `khjob` (or equivalent) makes sense. I wonder if it would be possible though to combine this with the existing `khcheck` to avoid duplication: the same validations that run continuously should also be able to get triggered after an app deployment.

[2020-06-17 12:55] johannesfrey opened #533 "Possible goroutines leak from watch events"
**Describe the bug**
Memory consumption of the kuberhealthy deployment increases steadily when running inside a cluster performing several checks. We deployed kuberhealthy together with a daemonset-, dns-name-resolution- and network-connection-check into muliple clusters. We set a memory limit to 50Mi via Kubernetes resources. Thereby a pattern emerged that the main kuberhealthy server deployment

[2020-06-17 17:33] integrii commented on #533
Could be related to #293 which never was located, but was not happening in all circumstances.

Good investigation so far!

[2020-06-17 17:46] integrii commented on #533
Following your path here, I think the problem may be (at least partially) [here](https://github.com/Comcast/kuberhealthy/blob/v2.2.0/cmd/kuberhealthy/kuberhealthy.go#L551-L556) and [here](https://github.com/Comcast/kuberhealthy/blob/v2.2.0/cmd/kuberhealthy/kuberhealthy.go#L290-L294).

In both these places, a go routine is launched on each iteration of the `for` loop that never ends unless the cont

[2020-06-17 21:32] integrii commented on #533
Seems like we can simply move this go routine up above the `for` loop it sits within to solve the isssue.

[2020-06-18 05:08] johannesfrey commented on #533
Yes this makes sense. If that's okay with you I will test your provided fix https://github.com/Comcast/kuberhealthy/pull/534 on some clusters to see if it works and post back the findings/graphs.

[2020-06-18 20:47] zjhans commented on #231
After further discussion with Eric, making changes to this could potentially break Kuberhealthy for users. Closing this issue for now.

[2020-06-18 20:47] #231 closed

[2020-06-18 22:38] #533 closed

[2020-06-20 04:56] sbueringer commented on #533
@integrii The goroutine leak is still there, I opened another PR to fix it: https://github.com/Comcast/kuberhealthy/pull/537

[2020-06-22 07:14] cagdascirit commented on #533
#537 has fixed this issue in our test environment

[2020-06-22 07:14] cagdascirit commented on #293
We have patched v2.2.0 with #537 content and the memory leak problem is gone!

[2020-06-25 02:23] #221 closed

[2020-06-25 02:23] #473 closed

[2020-06-25 18:34] joshulyne commented on #517
#530 has been merged into master!

[2020-06-25 18:34] #517 closed

[2020-06-25 21:03] joshulyne commented on #439
@calmkart do you think we can close this issue? i know you created a PR for this #438 and I believe we concluded that we didn't want the ownerReference to point to the khcheck, but back to the kuberhealthy pod. Super appreciative of the work/discussion you put into this and sorry we decided to go the other way!

[2020-06-25 22:55] joshulyne commented on #527
@mitchellmaler just merged in #515 that includes kube api retries for the daemonset check. The khcheck image: `kuberhealthy/daemonset-check:v3.0.0`should have these changes -- let us know if this image works for you!

[2020-06-26 06:56] gorkemozlu opened #541 "change deployment and deamonset images at airgapped environments"
hi

appreciate your work done here.

I'm using an airgapped kubernetes environment and changed main images that app uses. I've edited the helm template output with our internal container registry.
But berhealthy creates its own deployment and daemonset but the pods go imagepullbackoff because there is no connection to internet.
I'ven through the codes but i could not find the correct files to modi

[2020-06-26 15:46] calmkart commented on #439
@joshulyne sorry for late reply, i'm I'm on vacation recently.
i'll close this issue immediately.
Thanks for your notice.

[2020-06-26 15:46] #439 closed

[2020-06-26 17:13] joshulyne commented on #125
Recent DS Check refactor #515 addresses this in latest image: `kuberhealthy/daemonset-check:v3.0.0`

[2020-06-26 17:13] #125 closed

[2020-06-26 17:15] joshulyne commented on #6
@integrii do our implemented e2e tests cover this issue?

[2020-06-26 18:25] #302 closed

[2020-06-26 18:41] joshulyne commented on #541
@gorkemozlu closing this issue for now since it seems like you were able to solve it :) feel free to submit another issue if you run into another something else!

[2020-06-26 18:41] #541 closed

[2020-06-26 21:04] joshulyne commented on #526
@nstott sorry for the late follow up! But you're right, the `remoteAddr` is used so that we can verify the right checker pod is allowed to report back to kuberhealthy. Seems like this validation doesn't work if istio is enabled. Do you mind further explaining `unique pre-shared key, between the kh server, and the check pod`? Instead of validating through pod ips, are you suggesting we use a unique

[2020-06-26 21:21] integrii commented on #6
I believe our e2e tests help a lot, but the 'test baseline' described here directly references code coverage, which entails smaller unit and function tests...

I think we can call this one 'complete' when we have some sense of code coverage and are testing at least ~50% of our code.

[2020-06-30 00:21] integrii opened #545 "Add integrated grafana dashboard"
We could provide a grafana dashboard configmap that works with prometheus operator.  For an example, see the [grafana dashboard configmaps here](https://github.com/coreos/kube-prometheus/tree/master/manifests).

This comes out as a dashboard automatically if grafana is configured to accept configmap data sources, which everything done with [kube-prometheus](https://github.com/coreos/kube-prometheu

[2020-06-30 00:22] integrii commented on #545
We should create these configmap specs off of our existing [grafana dashboards](https://github.com/Comcast/kuberhealthy/tree/master/deploy/grafana)

[2020-06-30 22:02] #381 closed

[2020-07-02 18:43] zeleena opened #546 "Add nodeSelector option to daemonset-check podSpec"
**Add nodeSelector option to daemonset-check podSpec**
Currently, the daemonset-check will fail in a cluster with both Linux nodes and Windows nodes. The daemonset-check creates a daemonset with pods that run PAUSE_CONTAINER_IMAGE, a Linux image. Since the Linux image PAUSE_CONTAINER_IMAGE will schedule on Windows nodes, no there is no nodeSelector to prevent this, it will fail since Windows nodes

[2020-07-02 19:23] zeleena opened #547 "Add nodeSelector option to deployment-check podSpec"
**Add nodeSelector option to deployment-check podSpec**
Currently, the deployment-check will fail in a cluster with both Linux nodes and Windows nodes. The deployment-check creates a deployment with pods that run CHECK_IMAGE, a Linux image. Since the Linux image CHECK_IMAGE will schedule on Windows nodes, and there is no nodeSelector to prevent this, it will fail since Windows nodes can't run Linu

[2020-07-06 17:46] integrii commented on #546
Well described!  I think this should be pretty easy to add.  I think we should:

- Add an environment variable to the helm chart for daemonset check (maybe `NODE_SELECTOR`)
- Document the new environment variable in the `README.md` for the daemonset check
- Read the environment variable into a global within the daemonset check
- If the environment variable read is not blank (`""`), then set the no

[2020-07-06 17:48] integrii commented on #547
Just like #546, we should do the following here:

- Add an environment variable to the helm chart for deployment check (maybe NODE_SELECTOR)
- Document the new environment variable in the README.md for the deployment check
- Read the environment variable into a global within the deployment check
- If the environment variable read is not blank (""), then set the node selector in the deployment spec

[2020-07-07 18:26] jonnydawg commented on #547
This has been addressed in a PR and is undergoing testing and debugging.

[2020-07-07 18:26] jonnydawg commented on #546
This has been addressed in a PR and is undergoing testing and debugging.

[2020-07-09 13:59] ChrisHirsch opened #550 "Storage Check"
I'd like to have a storage check that can go through each schedulable node and deploy a job that checks a PVC for known data. If the data is seen, the check passes.

Requirements:
- [x] Create a PVC with a configurable size and configurable storage class
- [x] Initialized the configured PVC with known data (simple file with contents) - ONCE (via Job Object)
- [x] Pass around the initialized PVC to

[2020-07-09 22:27] joshulyne commented on #527
@mitchellmaler closing this issue for now since `kuberhealthy/daemonset-check:v3.0.0` is available as a potential fix. let us know if you see this issue again!

[2020-07-09 22:27] #527 closed

[2020-07-09 22:28] joshulyne commented on #367
@cagiti closing this issue for now -- feel free to open another issue if you're still running into problems!

[2020-07-09 22:28] #367 closed

[2020-07-09 22:30] joshulyne commented on #447
Closing as I believe #540 addressed this issue. @calmkart please feel free to submit another issue if you still see this as a problem!

[2020-07-09 22:30] #447 closed

[2020-07-10 02:59] mitchellmaler commented on #527
@joshulyne Good deal! Sorry I haven't replied, haven't had a chance to test it.
Do you know when a new version of the chart will be released with the updated version of the daemonset checker? I can manually provide the value now to test it.

[2020-07-10 21:05] ChrisHirsch commented on #550
First Cut at a PR is here: https://github.com/Comcast/kuberhealthy/pull/551

[2020-07-13 18:25] #547 closed

[2020-07-13 18:25] #546 closed

[2020-07-13 18:33] ChrisHirsch commented on #550
Changed PR from https://github.com/Comcast/kuberhealthy/pull/551 to https://github.com/Comcast/kuberhealthy/pull/553 and broke out storage-check into its own repo.

[2020-07-13 18:36] jonnydawg opened #554 "Kuberhealthy gets stuck when a khcheck object is misconfigured"
**Describe the bug**
The kuberhealthy master will run into an `InternalError` when looking for khc changes:

[code]

Related to #222

**Steps To Reproduce**
Misconfigure any khcheck installed. An easy way to do this is to remove the `-` under `podSpec.containers`.

I think this issue is caused by the mismatching types here. Kuberhealthy expects `podSpec.containers` to be an array, but removing thi

[2020-07-13 19:29] integrii commented on #244
That could be a viable way to test KIAM functionality... Perhaps just do an `http.Get` on that URL and check for a token to exist?

However, if KIAM is completely offline, and not restricting calls, then this will appear to pass because a token was found... We need some distinct way to know that KIAM intercepted the request and it worked.  Perhaps we can ask for some way to identify KIAM intercept

[2020-07-13 19:34] #485 closed

[2020-07-13 20:28] integrii commented on #466
Sorry for the late reply here.  Yes, all checks are stable for version 2.  Version 1 actually didn't have external checks at all!

I thought about removing all checks from the helm chart, but new users would have to figure out that no checks were running on first install - so I feel like giving them a starting point is useful.

[2020-07-13 20:28] #466 closed

[2020-07-13 20:32] integrii commented on #293
I am closing this because #548 is merged

[2020-07-13 20:32] #293 closed

[2020-07-13 23:45] chadbitzer opened #558 "Automate Helm repo update on new version releases"
New releases of KH should trigger an automated KH Helm repo update.  Utilizing Github Releases and Github Actions, "./helm-repos/index.yaml" should have the new version's yaml appended to the beginning of the file, and a new "kuberhealthy-_maj.min.bug_.tgz" should be generated from "./deploy/helm/kuberhealthy" and placed in "./helm-repos/archives/".  This should generate a PR to merge with branch

[2020-07-14 17:29] jdowni000 commented on #252
I have added configmap and monitoring features to automatically reload checks in the event the configmap has changed. I additionally have updated the readme and created a configuration readme as well

[2020-07-14 18:41] zeleena commented on #293
Can v2.2.0 be patched with #548?

[2020-07-14 20:04] joshulyne commented on #252
#557

[2020-07-14 20:04] #252 closed

[2020-07-14 21:10] integrii commented on #527
Looks like this still hasn't been merged into the [values.yaml](https://github.com/Comcast/kuberhealthy/blob/master/deploy/helm/kuberhealthy/values.yaml) for the Helm chart...

@joshulyne did you ever verify the `daemonset-check:v3.0.0` by running it somewhere?  Should we open a PR to use the new v3 checker by default?

[2020-07-14 21:19] joshulyne commented on #527
@mitchellmaler planning for a new Kuberhealthy 2.3.0 release this week! Standby!

[2020-07-14 21:19] joshulyne commented on #527
@jonnydawg made additional changes to the daemonset check adding a nodeSelector option so now the daemonset check is on v3.1.0!

[2020-07-20 14:27] linkvt opened #561 "Trigger kuberhealthy checks as part of a CI pipeline"
Thanks for the nice project, I also think that those kind of synthetic tests will grow more and more to as they cannot really be replaced by simple metrics and as k8s admins need to know when some a basic use case is broken.

**Describe the feature you would like and why you want it**
I was thinking on how we could include kuberhealthy in our CI pipeline for our Kubernetes clusters which deploys a

[2020-07-20 18:10] jonnydawg commented on #554
Currently dealing with this issue from the webhook server:

[code]

[2020-07-23 23:28] #554 closed

[2020-07-24 18:38] integrii opened #578 "Create release documentation"
We should document how we do releases:

- tag the new release image tag and test it
- craete tag in github
- merge the pr from github actions for the helm changes
- ensure the github site publish action runs properly so that the github site serves the newest helm data

[2020-07-29 16:34] zeleena opened #580 "Allow permissions in target namespace for pod-status check"
**Describe the bug**
The pod-status check has the option to set the `TARGET_NAMESPACE` environment variable which ideally will perform the pod-status check in that namespace. However, the ServiceAccount does not have permissions to that `TARGET_NAMESPACE` if it is different than the release namespace. This may be because the RoleBinding for the ServiceAccount defaults to the release namespace inst

[2020-07-29 18:38] integrii opened #582 "Implement nodecheck waits on network connection check"
We should implement some code that ensures that the hosting node is ready to do network connections on the network connectivity check.  If the check runs too fast, then a node may not be able to connect to the target and that would cause a false alarm.

[2020-07-29 19:11] jonnydawg commented on #561
Related to #528

[2020-07-29 19:25] integrii commented on #580
Hey Zeleena.  Welcome back!

The checks included with the Helm chart aren't really meant to be highly customizable.  You'll notice that most checks aren't mentioned in that chart at all.  Rather, those checks are meant to make getting started with some basic checks easier.

If you would like to customize the check more than what the current helm chart allows, I would suggest changing `enabled: fal

[2020-07-29 19:25] #580 closed

[2020-07-29 19:26] integrii commented on #561
I am closing this one as a duplicate.  Please watch #528 for details because @joshulyne is working on this one soon I think.

[2020-07-29 19:26] #561 closed

[2020-07-29 19:47] joshulyne commented on #528
Going to take an initial stab at this feature! The plan is to create a new CRD `khjob` which kuberhealthy watches for and triggers when the `khjob` resource is applied. This `khjob` reports back to kuberhealthy and a `khstate` for the `khjob` is also captured. In the `khstate` we add a `"KuberhealthyJob"` boolean to indicate that this `khstate` object is from a `khjob`

[2020-07-31 00:48] FraBle commented on #528
@joshulyne That sounds good to me. Thank you for picking it up! 🚀

[2020-08-03 18:21] jdowni000 opened #586 "Implement nodeCheck into ami-check"
We should implement some code that ensures that the hosting node is ready to do network connections on the network connectivity check. If the check runs too fast, then a node may not be able to connect to the target and that would cause a false alarm.

[2020-08-03 18:22] integrii opened #587 "Impement new `nodeCheck` package in `daemonsetcheck`"
The new `nodeCheck` package allows a check to gracefully wait for a node to be fully operational before doing operations.  We should implement this on all our checks.  Without this check, there are circumstances where checker pods start quickly and instantly fail to resolve DNS, reach the API, or access public nets.

[2020-08-03 18:26] jonnydawg opened #588 "Update github actions to build tagged images"
Currently, only the `latest` tag is built and pushed -- this adds a workflow step that builds and pushes the tag image (based on the Makefile)

[2020-08-05 00:24] chadbitzer commented on #558
Successful append to index.yaml, generation of .tgz, and PR creation!
Next steps:
-correct naming of .tgz file
-correct appended data (triggering event) in new index.yaml
-correct location of appended index.yaml
-set trigger back to tag creation and verify triggering, correct appending to index.yaml, and correct naming of .tgz file corresponding to tag.
-trigger PR/merge of master to gh-pages bran

[2020-08-05 18:50] integrii opened #592 "Add jobs to check-reaper"
The [check reaper](https://github.com/Comcast/kuberhealthy/tree/master/cmd/check-reaper) current purges checks that have run.

With the new addition of a `khjob` CRD, we will have a new class of pods to clean up.  See issue #528 for details.

We need to modify the check-reaper to:
- identify which things are jobs (and not khchecks)
- be sure the existing logic does not delete jobs
- decide when to

[2020-08-06 18:48] integrii opened #597 "Create Kuberhealthy Alerting System"
We should have an app that scrapes Kuberhealthy and sends alerts to a variety of endpoints.  Currently the only way to get alerts is to scrape the JSON status page or implement your own prometheus alertmanager configuration.

[2020-08-06 18:56] #582 closed

[2020-08-09 12:44] linkvt opened #601 "Use unprivileged nginx container images by default"
Hi guys,

**Describe the solution you would like to see happen**
I would like to have unprivileged nginx container images used by default in the deployment khcheck instead of the current ones - at least for the helm charts. This makes it easier to use kuberhealthy in a Kubernetes environment with restricted PodSecurityPolicies and does test the same.
Official unprivileged nginx images can be found

[2020-08-10 18:14] jonnydawg commented on #601
I think this is probably the best option here. I'm not sure if changing the defaults because of the reasons you mentioned -- port numbers and such. This was mostly the basis behind the design decision to allow configurable `port` numbers and `images`.

Maybe it would be best to provide an example `.yaml` in the `deployment-check` directory that shows an example for using unprivileged nginx contain

[2020-08-10 20:47] integrii opened #602 "Implement unstructured watcher and list for khjob CRDs"
The unstructed watcher merged in PR #581 fixed crashes related to users saving invalid `khcheck` configurations.  We should extend this durability to `khjob` resources as well.

[2020-08-10 21:05] integrii opened #603 "Switch `khstate` and `khcheck` packages to generated code"
The existing CRDs for `khstate` and `khchecks` are manually craeted from some very old examples found on a website.  We also had to extend them with `watch` functionality manually.

It would be a good idea to switch these CRD packages to the [CRD code generator](https://github.com/kubernetes/code-generator) like the `khjob` CRD uses.

We will want to be careful and check that the generated package

[2020-08-10 23:22] #518 closed

[2020-08-11 18:03] jonnydawg commented on #588
Going to table this one -- was thinking of something similar to https://threedots.tech/post/automatic-semantic-versioning-in-gitlab-ci/

[2020-08-13 16:53] naikajah opened #604 "Kuberhealthy Vulnerabilities found"
Hello

We are using Kuberhealthy from sometime now. Recently on scanning kuberhealthy pods few vulnerabilities were detected by [NeuVector](https://neuvector.com/)

kuberhealthy Image used: kuberhealthy/kuberhealthy:v2.2.0

Please find details of the vulnerabilities found

**15 High**

[code]

Could you please let me know how we should go about resolving these?

Kind regards
Piyush

[2020-08-14 09:57] czunker opened #606 "check-reaper Cronjob is missing a securitycontext"
**Describe the bug**
When deploying kuberhealthy, the check-reaper POD does not start.
When you take a look at the events, you'll find:

**Steps To Reproduce**
Deploy kuberhealthy, wait for the CronJob to create the check-reaper POD.

**Expected behavior**
check-reaper POD should run periodically.

**Versions**
 - Cluster OS: debian stretch with kernel 4.9.0-11-amd64
 - Kubernetes Version: 1.17.9

[2020-08-14 18:22] jonnydawg commented on #604
Hi!
Could you please provide OS/kernel information?

[2020-08-17 18:43] #606 closed

[2020-08-18 21:13] jonnydawg commented on #604
Hi @naikajah, there has been some changes made in light of these findings. Could you please re-scan the [patched image](https://hub.docker.com/layers/kuberhealthy/kuberhealthy/v2.3.1-alpha/images/sha256-9dc4cc1b571ee3dd0835b5a3dc6e7a065f20b6c7447852d67a20b5eb6e8e3a72?context=repo)?

[2020-08-19 07:26] kuzm1ch commented on #601
@jonnydawg  For me, it also will be a good feature as Openshift is in use.
[code]
Yes, It could be good to have these configurations by default in helm values and as an example in .yaml.

But from my point of view, it is better to overwrite CHECK_IMAGE variable value in go code to "bitnami/nginx" for example.
https://github.com/Comcast/kuberhealthy/blob/master/cmd/deployment-check/main.go#L34-L38

[2020-08-19 18:56] rukatm opened #614 "Expanded internal DNS status check"
**Describe the feature you would like and why you want it**
It would be nice to have an expanded internal DNS status check which not only queries the in cluster kube-dns service but also it's backing endpoints.  This can either be an addition to the current check or a new one.

**Additional context**
In rare cases despite internal kube/core dns endpoints being properly exposed, there may be interm

[2020-08-21 16:46] ewohltman opened #616 "Support for newer versions of Kubernetes"
Hello,

Currently, the `README.md` for the repo says "Kuberhealthy is currently tested on Kubernetes `1.9.x` to `1.15.x`."

Is Kuberhealthy consistently tested and maintained with new versions of Kubernetes as they are released?

[2020-08-24 18:46] chadbitzer commented on #558
@jonnydawg @integrii you can test the behavior and results at my fork:
https://github.com/chadbitzer/kuberhealthy

[2020-08-26 00:04] integrii opened #620 "deprecate helm/stable chart"
The chart in the official helm/charts/stable repository is confusing people.  We should officially put a note there that lets people know the chart has moved into our custom chart repo in this project.

[2020-08-26 00:19] chadbitzer commented on #620
I'll knock this out.

[2020-08-26 22:00] #604 closed

[2020-08-26 22:04] #477 closed

[2020-08-26 22:08] #558 closed

[2020-08-28 18:56] integrii commented on #616
We definitely should bump the supported version.  To do that, we just need to update the KinD tests to the newest label.  @chadbitzer should be able to take a look at this.

[2020-08-31 20:50] jmatias opened #628 "Parameterize PodDisruptionBudget"
**Describe the solution you would like to see happen**

Hi Kuberhealthy team,

Would you be willing to accept a PR that parameterizes the `PodDisruptionBudget`?  Right now, the `minAvailable`  is hardcoded to 1.

[2020-09-01 11:54] erezo9 opened #629 "Changing daemonset and deployment image is not possible via chart"
**Describe the bug**
Installing helm chart with a private repo (no access to public internet images)

**Steps To Reproduce**
have an environment with no internet connection and a private repo
**Expected behavior**
Be able to input own private repo image

**Screenshots**
not applicable

**Versions**
 - Cluster OS: [e.g. CoreOS 1800.1.0]
 - Kubernetes Version: 1.17.5
 - Kuberhealthy Release or build

[2020-09-01 18:05] jonnydawg commented on #629
Hello, you can change the repository location here in the [values.yaml].(https://github.com/Comcast/kuberhealthy/blob/57240209ec7665a1b9dd8e72deb251234499d184/deploy/helm/kuberhealthy/values.yaml#L70)

Then you should be able to re-create a template using helm!

[2020-09-01 18:08] jonnydawg commented on #628
Yes, we appreciate any contributions to the project!

Please feel free to submit a PR.

[2020-09-01 18:08] integrii opened #630 "Test Kuberhealthy 2.3 in lab clusters"
To prepare for a 2.3 release, we should build and run the newest master code in our environments.

[2020-09-01 18:11] integrii commented on #592
Waiting on issue #528

[2020-09-01 18:13] #587 closed

[2020-09-01 18:14] jonnydawg commented on #630
Be careful, there's a `v2.3.0` and `v2.3.1-alpha` image that are up on [Docker](https://hub.docker.com/repository/registry-1.docker.io/kuberhealthy/kuberhealthy/tags?page=1)

[2020-09-01 19:07] erezo9 commented on #629
@jonnydawg not that images, the ones after the deployment and daemon set are deployed

It deployed another deployment with nginx as an image and one with k8s pause image, those I was talking about

[2020-09-01 20:59] ewohltman commented on #616
@integrii @chadbitzer Thanks very much for looking into this so quickly!

I see this issue seems to be tied to the `v2.4 Release` Project but the PR is tied to the `v2.3 Release` project. Not sure if they are supposed to be different, but if not this could be another checkbox on the road to `v2.3 Release` :tada:

Thanks again!

[2020-09-01 23:38] integrii commented on #604
A new patched image with an important fix is available at `kuberhealthy/kuberhealthy:v2.3.1-scratch`

[2020-09-02 00:08] integrii commented on #616
i just saw this run today with kube 1.18... we should update the readme to indicate the new version support. reopening

[2020-09-02 13:41] jmatias commented on #628
@jonnydawg Take a look when you can

[2020-09-02 14:59] darleilopes opened #634 "kuberhealthy/deployment error from /metrics have a wrong string format"
**Describe the bug**
The check `kuberhealthy/deployment` error is not closing correctly the string at `error` value, were Prometheus can't consuming this metric cause it cannot run parse.

**Steps To Reproduce**
Invoking `kuberhealthy/deployment` check producing an error.

**Expected behavior**
Change the metric output `error="deployments.apps is forbidden: User "system:serviceaccount:kuberhealthy

[2020-09-02 17:14] jonnydawg commented on #629
Those images can be changed via setting environment variables on the two checks.

Here for the deployment check:
https://github.com/Comcast/kuberhealthy/blob/a1df6b7068f8ff17df4e61ee73fd5502d0f9476e/deploy/helm/kuberhealthy/values.yaml#L80

and here for the daemonset check:
https://github.com/Comcast/kuberhealthy/blob/a1df6b7068f8ff17df4e61ee73fd5502d0f9476e/deploy/helm/kuberhealthy/values.yaml#L7

[2020-09-02 19:02] erezo9 commented on #629
Why not add this to the main readme?
or point that to them either on the main page
dont think its obvious its exists  until u encounter the error - not for me at least